        $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
        $fa-font-path: "../bower_components/font-awesome/fonts";
        @import "font-awesome/scss/font-awesome";
        // bower:scss
        @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
        @import "include-media/dist/_include-media.scss";
        @import "font-awesome/scss/font-awesome.scss";
        // endbower
        //variable
        $breakpoints: (phone: 640px, tablet: 768px, desktop: 1024px, laptop:1360px, other:1900px);
        // FONT-SIZE
        $font-size-extra-large:20px;
        $font-size-large:20px;
        $font-size-medium:15px;
        $font-size-normal:14px;
        $font-size-small:10px;
        $font-size-extra-small:10px;
        $container-width:1024px;
        @font-face {
            font-family: 'serpents';
            src: url('fonts/serpents.eot');
            src: local('☺'), url('fonts/serpents.woff') format('woff'), url('fonts/serpents.ttf') format('truetype'), url('fonts/serpents.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'serpensl';
            src: url('fonts/serpensl.eot');
            src: local('☺'), url('fonts/serpensl.woff') format('woff'), url('fonts/serpensl.ttf') format('truetype'), url('fonts/serpensl.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'opensans';
            src: url('fonts/opensans.eot');
            src: local('☺'), url('fonts/opensans.woff') format('woff'), url('fonts/opensans.ttf') format('truetype'), url('fonts/opensans.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        
        body {
            background: #fff1cc;
            background-size: cover;
            font-family: "opensans", Arial, 'Helvetica Neue', Helvetica, sans-serif;
        }
        
        textarea:focus,
        input:focus {
            outline: none;
        }
        
        .header {
            font-weight: bold;
        }
        
        .container {
            width: $container-width;
        }
        
        .header {
            #logo {
                background: url("../images/logo-mbs.png") no-repeat;
                background-size: cover;
                height: 89px;
                width: 156px;
                position: absolute;
                top: -12px;
                left: -20px
            }
            .navbar-default {
                background-color: initial;
                border: 0px;
            }
            .navbar {
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
            }
            .navbar .navbar-nav {
                display: inline-block;
                float: left;
                margin-left: 120px;
            }
            .navbar .navbar-collapse {
                text-align: center;
            }
            .navbar-default .navbar-nav > li > a {
                color: #626262;
                font-size: 14px;
                display: block;
                text-decoration: none;
            }
            .navbar-default .navbar-nav > .active > a,
            .navbar-default .navbar-nav > .active > a:hover,
            .navbar-default .navbar-nav > .active > a:focus {
                color: #000;
                background-color: initial;
                display: block;
            }
            .navbar-default .navbar-nav > li > a:hover,
            .navbar-default .navbar-nav > li > a:focus {
                color: #000;
                background-color: initial;
            }
        }
        
        .footer {
            font-size: 14px;
            color: #000;
        }
        
        #present-block {
            position: relative;
            .present-backdrop {
                width: 100%;
                background: rgba(255, 255, 255, 0.4);
                height: 80%;
                position: absolute;
                border-radius: 40px;
                bottom: 0px;
            }
        }
        
        // MAIN-SCREEN
        .btn-join-now {
            position: relative;
        }
        
        body.main {
            background: #fde7a4 url(../images/home_bg.png) top center no-repeat;
            .main_top_area_wrap {
                position: relative;
                min-height: 700px;
                .main_top_area {
                    background: url(../images/main_top_area_bg.png) top center no-repeat;
                    background-size: cover;
                    min-height: 700px;
                    position: absolute;
                    bottom: -40px;
                    .main_text_area {
                        position: absolute;
                        width: 400px;
                        bottom: 335px;
                    }
                    .main_camera_area {
                        position: absolute;
                        width: 400px;
                        bottom: 130px;
                        left: 100px;
                        .text_sharekhoanhkhac {
                            float: left;
                        }
                        .btn-join {
                            width: 120px;
                            height: 120px;
                            cursor: pointer;
                            opacity: 1;
                            background: url(../images/btn-join-now.png) no-repeat;
                            background-size: contain;
                            margin-left: 25px;
                            .text_click_to_share {
                                position: absolute;
                                bottom: -65px;
                                left: 20px;
                            }
                        }
                    }
                }
            }
            .video {
                position: relative;
                height: 640px;
                width: 100%;
                margin: 0 auto;
                video {
                    height: 100%;
                    width: 100%;
                    margin: 0 auto;
                    opacity: 0.5;
                }
                .btn-play {
                    cursor: pointer;
                    position: absolute;
                    left: 45%;
                    top: 45%;
                    width: 70px;
                    height: 70px;
                    background: url(../images/btn-play.png) no-repeat;
                    background-size: contain;
                    opacity: 1;
                    z-index: 999;
                }
                .btn-play:hover {
                    opacity: 0.3;
                }
            }
        }
        
        body.upanh {
            .main-area {
                position: relative;
                min-height: 700px;
                background: url(../images/upanh_shadow.png) no-repeat bottom right;
                .desc-area {
                    margin-top: 100px;
                }
                .phone-cover {
                    background: url(../images/phone-cover.png) left;
                    background-size: contain;
                    width: 412px;
                    height: 690px;
                    margin-left: -100px;
                    .upanh-area {
                        width: 275px;
                        height: 275px;
                        position: absolute;
                        top: 23%;
                        left: 20px;
                        cursor: pointer;
                        .cropArea {
                            overflow: hidden;
                            width: 275px;
                            height: 275px;
                        }
                        #upload {
                            width: 275px;
                            height: 275px;
                            /*background: url(../images/upanh_area.png);*/
                            background: rgba(255, 255, 255, 0.8);
                            margin: 0 auto;
                            padding-top: 5px;
                            overflow: hidden;
                        }
                        #upload img {
                            max-height: 275px;
                            border: none;
                            width: 100%;
                            height: auto;
                            padding: 15px;
                            padding-top: 10px;
                            border-radius: 20px;
                        }
                    }
                    .submit-area {
                        width: 275px;
                        height: 50px;
                        bottom: 50px;
                        left: 20px;
                        position: absolute;
                    }
                    .subject-area {
                        width: 275px;
                        height: 94px;
                        position: absolute;
                        bottom: 108px;
                        left: 20px;
                        background: url(../images/subject_area.png) no-repeat;
                        background-size: 100% 100%;
                        textarea {
                            background: transparent;
                            border: none;
                            margin-top: 25px;
                            width: 270px;
                            height: 55px;
                            margin-left: 10px;
                            &:focus {
                                border: none;
                            }
                        }
                    }
                }
            }
        }
        
        body.lixi {
            /***Lucky****/
            .tab-active {
                color: #3aa4ea;
                cursor: pointer;
            }
            .tab-unative {
                color: #000000;
                cursor: pointer;
            }
            .form-control {
                background-color: transparent;
                width: auto;
                border: 1px solid #2496ff;
                border-radius: 4px;
                input {
                    background-color: transparent;
                    border: none;
                }
            }
            .lucky-format {
                background: #fdf0c6;
                border: solid 3px white;
                border-radius: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .result {
                max-height: 600px;
                overflow-y: scroll;
                overflow-x: hidden;
            }
            /**End Lucky**/
            .num-round-area {
                background: url(../images/num_round.png);
                width: 528px;
                height: 102px;
                padding-top: 50px;
                color: #fff;
                font-weight: bold;
                font-size: 18px;
            }
            .tree-mai {
                width: 810px;
                background: url(../images/cay-mai.png);
                height: 740px;
                position: relative;
            }
            .baolixi {
                position: absolute;
                width: 20px;
                height: 92px;
                cursor: pointer;
                &.bao3 {
                    background: url(../images/baolixi/bao-lixi_03.png) no-repeat bottom;
                    width: 36px;
                    height: 140px;
                    top: 30%;
                    right: 15%;
                }
                &.bao31 {
                    background: url(../images/baolixi/bao-lixi_03.png) no-repeat bottom;
                    width: 36px;
                    height: 140px;
                    bottom: 43%;
                    left: 23%;
                }
                &.bao6 {
                    background: url(../images/baolixi/bao-lixi_06.png) no-repeat bottom;
                    width: 36px;
                    height: 140px;
                    top: 9%;
                    right: 28%;
                }
                &.bao7 {
                    background: url(../images/baolixi/bao-lixi_07.png) no-repeat bottom;
                    width: 39px;
                    height: 160px;
                    top: 46%;
                    right: 7%;
                }
                &.bao9 {
                    background: url(../images/baolixi/bao-lixi_09.png) no-repeat bottom;
                    width: 30px;
                    height: 112px;
                    top: 1%;
                    right: 43%;
                }
                &.bao91 {
                    background: url(../images/baolixi/bao-lixi_09.png) no-repeat bottom;
                    width: 30px;
                    height: 112px;
                    bottom: 27%;
                    right: 35%;
                }
                &.bao12 {
                    background: url(../images/baolixi/bao-lixi_12.png) no-repeat bottom;
                    right: 22%;
                    top: 17%;
                }
                &.bao15 {
                    background: url(../images/baolixi/bao-lixi_15.png) no-repeat bottom;
                    width: 34px;
                    height: 126px;
                    top: 2%;
                    right: 55%;
                }
                &.bao19 {
                    background: url(../images/baolixi/bao-lixi_19.png) no-repeat bottom;
                    width: 29px;
                    height: 118px;
                    right: 58%;
                    top: 27%;
                }
                &.bao26 {
                    background: url(../images/baolixi/bao-lixi_26.png) no-repeat bottom;
                    width: 36px;
                    height: 146px;
                    left: 25%;
                    top: 5%;
                }
                &.bao29 {
                    background: url(../images/baolixi/bao-lixi_29.png) no-repeat bottom;
                    width: 35px;
                    height: 140px;
                    right: 42%;
                    top: 33%;
                }
                &.bao32 {
                    background: url(../images/baolixi/bao-lixi_32.png) no-repeat bottom;
                    width: 38px;
                    height: 144px;
                    left: 29%;
                    bottom: 25%;
                }
                &.bao34 {
                    background: url(../images/baolixi/bao-lixi_34.png) no-repeat bottom;
                    width: 43px;
                    height: 180px;
                    right: 46%;
                    top: 11%;
                }
                &.bao341 {
                    background: url(../images/baolixi/bao-lixi_34.png) no-repeat bottom;
                    width: 43px;
                    height: 180px;
                    left: 2%;
                    bottom: 32%;
                }
                &.bao36 {
                    background: url(../images/baolixi/bao-lixi_36.png) no-repeat bottom;
                    width: 46px;
                    height: 198px;
                    left: 23%;
                    top: 48%;
                }
                &.bao39 {
                    background: url(../images/baolixi/bao-lixi_39.png) no-repeat bottom;
                    width: 37px;
                    height: 136px;
                    left: 13%;
                    bottom: 23%;
                }
                &.bao44 {
                    background: url(../images/baolixi/bao-lixi_44.png) no-repeat bottom;
                    width: 37px;
                    height: 132px;
                    right: 18%;
                    bottom: 25%;
                }
                &.bao47 {
                    background: url(../images/baolixi/bao-lixi_47.png) no-repeat bottom;
                    width: 25px;
                    height: 108px;
                    right: 25%;
                    bottom: 36%;
                }
                &.bao53 {
                    background: url(../images/baolixi/bao-lixi_53.png) no-repeat bottom;
                    width: 38px;
                    height: 156px;
                    left: 6%;
                    bottom: 47%;
                }
            }
        }
        
        .col-present-5 {
            .col-md-1 {
                width: 20%;
            }
        }
        
        body.lixi {
            .num-round-area {
                background: url(../images/num_round.png);
                width: 528px;
                height: 102px;
                padding-top: 50px;
                color: #fff;
                font-weight: bold;
                font-size: 18px;
            }
            .tree-mai {
                width: 810px;
                background: url(../images/cay-mai.png);
                height: 740px;
                position: relative;
            }
            .baolixi {
                position: absolute;
                width: 20px;
                height: 92px;
                cursor: pointer;
                &.bao3 {
                    background: url(../images/baolixi/bao-lixi_03.png) no-repeat bottom;
                    width: 36px;
                    height: 140px;
                    top: 30%;
                    right: 15%;
                }
                &.bao31 {
                    background: url(../images/baolixi/bao-lixi_03.png) no-repeat bottom;
                    width: 36px;
                    height: 140px;
                    bottom: 43%;
                    left: 23%;
                }
                &.bao6 {
                    background: url(../images/baolixi/bao-lixi_06.png) no-repeat bottom;
                    width: 36px;
                    height: 140px;
                    top: 9%;
                    right: 28%;
                }
                &.bao7 {
                    background: url(../images/baolixi/bao-lixi_07.png) no-repeat bottom;
                    width: 39px;
                    height: 160px;
                    top: 46%;
                    right: 7%;
                }
                &.bao9 {
                    background: url(../images/baolixi/bao-lixi_09.png) no-repeat bottom;
                    width: 30px;
                    height: 112px;
                    top: 1%;
                    right: 43%;
                }
                &.bao91 {
                    background: url(../images/baolixi/bao-lixi_09.png) no-repeat bottom;
                    width: 30px;
                    height: 112px;
                    bottom: 27%;
                    right: 35%;
                }
                &.bao12 {
                    background: url(../images/baolixi/bao-lixi_12.png) no-repeat bottom;
                    right: 22%;
                    top: 17%;
                }
                &.bao15 {
                    background: url(../images/baolixi/bao-lixi_15.png) no-repeat bottom;
                    width: 34px;
                    height: 126px;
                    top: 2%;
                    right: 55%;
                }
                &.bao19 {
                    background: url(../images/baolixi/bao-lixi_19.png) no-repeat bottom;
                    width: 29px;
                    height: 118px;
                    right: 58%;
                    top: 27%;
                }
                &.bao26 {
                    background: url(../images/baolixi/bao-lixi_26.png) no-repeat bottom;
                    width: 36px;
                    height: 146px;
                    left: 25%;
                    top: 5%;
                }
                &.bao29 {
                    background: url(../images/baolixi/bao-lixi_29.png) no-repeat bottom;
                    width: 35px;
                    height: 140px;
                    right: 42%;
                    top: 33%;
                }
                &.bao32 {
                    background: url(../images/baolixi/bao-lixi_32.png) no-repeat bottom;
                    width: 38px;
                    height: 144px;
                    left: 29%;
                    bottom: 25%;
                }
                &.bao34 {
                    background: url(../images/baolixi/bao-lixi_34.png) no-repeat bottom;
                    width: 43px;
                    height: 180px;
                    right: 46%;
                    top: 11%;
                }
                &.bao341 {
                    background: url(../images/baolixi/bao-lixi_34.png) no-repeat bottom;
                    width: 43px;
                    height: 180px;
                    left: 2%;
                    bottom: 32%;
                }
                &.bao36 {
                    background: url(../images/baolixi/bao-lixi_36.png) no-repeat bottom;
                    width: 46px;
                    height: 198px;
                    left: 23%;
                    top: 48%;
                }
                &.bao39 {
                    background: url(../images/baolixi/bao-lixi_39.png) no-repeat bottom;
                    width: 37px;
                    height: 136px;
                    left: 13%;
                    bottom: 23%;
                }
                &.bao44 {
                    background: url(../images/baolixi/bao-lixi_44.png) no-repeat bottom;
                    width: 37px;
                    height: 132px;
                    right: 18%;
                    bottom: 25%;
                }
                &.bao47 {
                    background: url(../images/baolixi/bao-lixi_47.png) no-repeat bottom;
                    width: 25px;
                    height: 108px;
                    right: 25%;
                    bottom: 36%;
                }
                &.bao53 {
                    background: url(../images/baolixi/bao-lixi_53.png) no-repeat bottom;
                    width: 38px;
                    height: 156px;
                    left: 6%;
                    bottom: 47%;
                }
            }
        }
        
        .col-present-5 {
            .col-md-1 {
                width: 20%;
            }
        }
        
        //media query
        @include media("<=phone") {
            body.main {
                background-position-y: -100px;
                .btn-join {
                    max-width: 100px;
                }
                .video {
                    height: 200px;
                    .btn-play {
                        left: 37%;
                        top: 33%;
                    }
                }
                .main_top_area_wrap {
                    min-height: 600px;
                    max-width: 300px;
                    margin: 0 auto;
                    .text-tetladetrove {
                        position: absolute;
                        top: 0;
                        width: 200px;
                        height: 100px;
                        img {
                            width: 200px;
                        }
                    }
                    .main_top_area {
                        background: url(../images/mobile_main_top_area_bg.png) no-repeat;
                        background-size: 100% auto;
                        background-position: bottom;
                        min-height: 600px;
                        .main_text_area {
                            width: 100%;
                            bottom: auto;
                            top: 85px;
                        }
                        .main_camera_area {
                            width: auto;
                            top: 166px;
                            left: 10%;
                            bottom: auto;
                            .btn-join {
                                width: 80px;
                                height: 80px;
                                background-size: contain;
                                margin-left: 80px;
                            }
                        }
                    }
                }
            }
            body.lixi {
                .num-round-area {
                    background: url(../images/num_round.png) no-repeat center;
                    background-size: contain;
                    width: 100%;
                    padding-top: 40px;
                }
                .tree-mai {
                    width: 100%;
                    background: url(../images/cay-mai.png) no-repeat;
                    height: 340px;
                    background-size: contain;
                }
                .baolixi {
                    background-size: contain !important;
                    &.bao26 {
                        width: 23px;
                        height: 93px;
                        left: 8%;
                        top: 5%;
                    }
                    &.bao15 {
                        width: 26px;
                        height: 91;
                        top: -1%;
                        left: 23%;
                        right: initial;
                    }
                    &.bao9 {
                        width: 30px;
                        height: 112px;
                        top: -7%;
                        left: 43%;
                        right: initial;
                    }
                    &.bao6 {
                        width: 30px;
                        height: 116;
                        top: -1%;
                        right: 26%;
                    }
                    &.bao12 {
                        right: 11%;
                        top: 17%;
                    }
                    &.bao19 {
                        width: 25px;
                        height: 101px;
                        left: 12%;
                        top: 24%;
                    }
                    &.bao3 {
                        width: 26px;
                        height: 101px;
                        top: 24%;
                        right: 34%;
                    }
                    &.bao7 {
                        width: 20px;
                        height: 82px;
                        top: 17%;
                        right: 58%;
                    }
                }
            }
            .container {
                width: 100%;
            }
            .main-backdrop {
                margin-top: 30px;
            }
            /*body {
                background: #d4be99;
            }*/
            .footer {
                font-size: 12px;
                margin-top: 30px;
            }
            .col-centered {
                margin-right: 0px;
            }
            body.upanh {
                .text-head {
                    text-align: center !important;
                }
                .main-area {
                    background-size: contain;
                    .desc-area {
                        margin-top: 20px;
                    }
                    .phone-cover {
                        background: url(../images/mobile-phone-cover.png) no-repeat top center;
                        margin-left: 0px;
                        width: 100%;
                        .upanh-area {
                            width: 250px;
                            height: 250px;
                            top: 15%;
                            left: 38px;
                            #upload {
                                width: 250px;
                                height: 250px;
                                /*background: url(../images/upanh_area.png) center;*/
                                /*background-size: contain;*/
                            }
                        }
                        .subject-area {
                            width: 250px;
                            background-size: contain;
                            bottom: 187px;
                            left: 35px;
                            textarea {
                                width: 240px;
                                padding-right: 10px;
                            }
                        }
                        .submit-area {
                            bottom: 130px;
                        }
                    }
                }
            }
        }
        
        @include media(">phone") {
            .form-horizontal .control-label {
                text-align: left;
            }
            #navbar-brand-centered {
                margin-top: 15px;
                margin-bottom: 20px;
                width: $container-width;
                min-height: 50px;
                background: url(../images/navbar_bg.png) no-repeat right top;
                #logo {
                    margin-top: 5px;
                }
                .logo-wrap {
                    margin-right: 30px;
                }
                .nav-item {
                    margin-left: 15px;
                    margin-right: 10px;
                    max-width: 140px;
                    max-height: 20px;
                }
                li.nav-item account-area {
                    cursor: pointer;
                    display: block;
                    a {
                        color: #626262;
                    }
                }
                li.nav-item a,
                li.nav-item account-area {
                    padding-top: 10px;
                    line-height: 15px;
                }
                li.nav-item:nth-child(4) {
                    max-width: 145px;
                }
                li.nav-item:nth-child(4) a {
                    padding-top: 10px;
                    line-height: 15px;
                }
                li.logo-wrap {
                    width: 90px;
                }
                /*li.nav-item:nth-child(4),
        li.nav-item:nth-child(5) {
            max-width: 140px;
        }
        li.nav-item:nth-child(4) a,
        li.nav-item:nth-child(5) a {
            padding-top: 10px;
            line-height: 15px;
        }
        li.nav-item:nth-child(6) a {
            padding-top: 16px;
            line-height: 15px;
        }
        li.nav-item:nth-child(5) a {
            -webkit-animation: color-change 1s infinite;
            -moz-animation: color-change 1s infinite;
            -o-animation: color-change 1s infinite;
            -ms-animation: color-change 1s infinite;
            animation: color-change 1s infinite;
        }*/
            }
            .navbar-nav {
                position: relative
            }
            .navbar-default .navbar-nav > li {}
            .navbar-default .navbar-nav > .active > a,
            .navbar-default .navbar-nav > li > a:hover,
            .navbar-default .navbar-nav > li > a:focus {
                display: block;
                float: left;
                color: #000;
            }
            .navbar-default .navbar-nav > .active > a:before,
            .navbar-default .navbar-nav > li > a:hover:before,
            .navbar-default .navbar-nav > li > a:focus:before {}
            .navbar-default .navbar-nav > .active > a:before,
            .navbar-default .navbar-nav > .active > a:hover,
            .navbar-default .navbar-nav > .active > a:focus {}
            #magic-line {
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100px;
                height: 4px;
                background: #e2a951;
            }
        }
        
        //margin-top
        .top-10 {
            margin-top: 10px;
        }
        
        .top-20 {
            margin-top: 20px;
        }
        
        .top-30 {
            margin-top: 30px;
        }
        
        .top-40 {
            margin-top: 40px;
        }
        
        .top-50 {
            margin-top: 50px;
        }
        
        .top-100 {
            margin-top: 100px;
        }
        
        // TEXT-STYLE
        .text-black {
            color: black;
        }
        
        .margin-auto {
            margin: 0 auto;
        }
        
        .float-left {
            float: left
        }
        
        .float-right {
            float: right;
        }
        
        .text-head {
            font-size: $font-size-extra-large;
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                background: url(../images/devide.png) top center no-repeat;
                height: 3px;
                width: 140px;
                bottom: -10px;
                background-size: contain;
                left: 43%;
            }
        }
        
        .text-title {
            font-size: $font-size-large;
            /*color: #cc7614;*/
            color: #fff;
        }
        
        .text-body1 {
            font-size: $font-size-medium;
        }
        
        body.lucky {
            .btn-search {
                background: url(../images/btn_search.png) no-repeat;
                background-size: contain;
                width: 150px;
                height: 30px;
            }
            .form-control {
                background-color: transparent;
                border: 1px solid #000;
                color: #000;
            }
            .result {
                max-height: 600px;
                overflow-y: scroll;
                overflow-x: hidden;
            }
        }
        
        body.rule {
            .main-backdrop {
                height: auto;
                max-height: initial;
            }
            li,
            p {
                color: #000
            }
            .text-body1 {
                font-weight: bold;
            }
            ul {
                list-style: none;
            }
        }
        /*BEGIN THUVIEN */
        
        body.thuvien {
            .library-container {
                width: 850px;
                margin: 0 auto;
            }
            .tab-active {
                color: #3aa4ea;
                cursor: pointer;
            }
            .tab-unative {
                color: #000000;
                cursor: pointer;
            }
            .liked {
                color: red !important;
            }
            /* class khoi chung */
            .block {
                cursor: pointer;
                display: block;
                position: relative;
                height: 235px;
                overflow: hidden;
                box-shadow: 1px -1px 4px #f5d98a;
                margin-bottom: 15px;
            }
            .social {
                .like {
                    color: gray;
                }
                .share {
                    color: #006eea;
                }
            }
            /* class khoi stick */
            .block-stick {
                background: url('../images/stick_bg.png') no-repeat;
                background-size: cover;
                .row > div {
                    padding: 0px;
                    background-size: contain;
                }
                .row > div {
                    padding: 0px;
                }
                .lib-img {
                    height: 90%;
                }
                .watermark {
                    position: absolute;
                    bottom: 0px;
                    left: 8px;
                    width: 130px;
                }
                .text-stick {
                    margin-top: 35px;
                    /*margin-left: 5px;*/
                    max-height: 160px;
                    overflow: hidden;
                    padding-left: 10px;
                }
                .social {
                    position: absolute;
                    bottom: 1px;
                    right: 8px;
                    .share {
                        margin-left: 8px;
                    }
                }
            }
            .block-normal:hover {
                .hover-text {
                    display: block;
                }
            }
            .block-normal {
                background: url('../images/block_bg.png') no-repeat;
                /*background-size: contain;*/
                background-size: 100% 100%;
                position: relative;
                .row > div {
                    padding: 0px;
                }
                .thumbnail-wrap {
                    height: 230px;
                    .thumbnail-img {
                        height: 100%;
                        .lib-img {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            height: 100%;
                            width: auto;
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                        }
                    }
                }
                .watermark {
                    position: absolute;
                    bottom: 8px;
                    left: 8px;
                    margin-top: -35px;
                    z-index: 500;
                }
                .social {
                    position: absolute;
                    bottom: 6px;
                    right: 8px;
                    font-size: 12px;
                    .share {
                        margin-left: 4px;
                    }
                }
                .hover-text {
                    z-index: 100;
                    background-color: rgba(0, 0, 0, 0.5);
                    position: absolute;
                    bottom: 23px;
                    left: 5px;
                    right: 5px;
                    color: #ffffff;
                    padding: 10px;
                    display: none;
                }
                /*.social {
                margin-top: 5px;
                margin-left: 35px;
                color: red;
                font-weight: bold;
            }*/
            }
            .modal-dialog {
                .modal-content {
                    overflow: visible !important;
                }
                .text-stick {
                    margin-top: 35px;
                    margin-left: 5px;
                    height: 198px;
                    overflow-y: scroll;
                    color: #5A5959;
                }
            }
            .row-title {
                .block-dialog-title {
                    top: -30px;
                    position: absolute;
                    background: url('../images/num_round.png') no-repeat;
                    background-size: contain;
                    text-align: center;
                    color: white;
                    font-weight: bold;
                    vertical-align: middle;
                    height: 60px;
                    padding-left: 45px;
                    line-height: 45px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 200px;
                }
            }
            .pagination {
                a:hover {
                    text-decoration: none;
                }
                li {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    display: inline-block;
                    margin-right: 5px;
                    a {
                        color: #000000;
                        font-weight: bold;
                    }
                }
                li:hover,
                .active {
                    background: #006eea;
                    -moz-border-radius: 15px;
                    -webkit-border-radius: 15px;
                    border-radius: 15px;
                    a {
                        cursor: pointer;
                        color: #ffffff;
                    }
                }
                .disabled:hover {
                    background: none;
                    a {
                        cursor: default;
                        color: #000000;
                    }
                }
            }
            /* class hinh anh chung */
            .lib-img {
                padding: 5px;
            }
            .text-stick-title {
                font-weight: bolder;
            }
            .text-stick-content {
                font-weight: bold;
            }
            .form-control {
                background-color: transparent;
                width: auto;
                border: 1px solid #2496ff;
                border-radius: 4px;
                input {
                    background-color: transparent;
                    border: none;
                }
            }
            /* Let's get this party started */
            ::-webkit-scrollbar {
                width: 5px;
            }
            /* Track */
            ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }
            /* Handle */
            ::-webkit-scrollbar-thumb {
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background: rgba(129, 129, 129, 0.8);
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            }
            ::-webkit-scrollbar-thumb:window-inactive {
                background: rgba(192, 192, 192, 0.3);
                ;
            }
            @media (max-width: 768px) {
                .container {
                    width: 100%;
                }
                .block {
                    height: 265px;
                }
                .block-dialog {
                    height: 445px;
                    margin-top: 30px;
                    margin-left: 16%;
                }
                .modal-dialog {
                    .modal-content {
                        overflow: hidden;
                    }
                    .text-stick {
                        height: auto;
                        margin-left: 16%;
                    }
                }
                .row-title {
                    .block-dialog-title {
                        top: 0px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
            @media (max-width: 640px) {
                .container {
                    width: 100%;
                }
                .block {
                    height: 185px;
                }
                .block-stick {
                    background-size: contain;
                    .text-stick {
                        margin-top: 10px;
                        height: 150px;
                        overflow: hidden;
                    }
                    .social {
                        bottom: 0px;
                    }
                }
                .block-normal {
                    .social {
                        bottom: 0px;
                    }
                    .watermark {
                        /*bottom: 25px;*/
                        bottom: 2px;
                        width: 80px;
                        left: 5px;
                    }
                }
                .block-dialog {
                    .social {
                        bottom: 20px;
                    }
                }
            }
            @media (max-width: 414px) {
                .container {
                    width: 100%;
                }
                .block {
                    height: 205px;
                }
                .block-dialog {
                    height: 402px;
                    margin-left: 15px;
                    margin-top: 30px;
                }
                .modal-dialog {
                    .modal-content {
                        overflow: hidden;
                    }
                    .text-stick {
                        height: auto;
                        margin-left: 0px;
                    }
                }
                .row-title {
                    .block-dialog-title {
                        margin-left: 25%;
                        top: 0px;
                        height: 40px;
                        line-height: 40px;
                        margin-left: 15%;
                        margin-top: 20px;
                    }
                }
            }
            @media (max-width: 384px) {
                .container {
                    width: 100%;
                }
                .block {
                    height: 188px;
                }
                .block-dialog {
                    height: 364px;
                    margin-left: 15px;
                    margin-top: 30px;
                }
                .modal-dialog {
                    .modal-content {
                        overflow: hidden;
                    }
                    .text-stick {
                        height: auto;
                    }
                }
                .row-title {
                    .block-dialog-title {
                        top: 0px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
            @media (max-width: 360px) {
                .container {
                    width: 100%;
                }
                .block {
                    height: 175px;
                }
                .block-stick {
                    .text-stick {
                        height: 110px;
                        overflow: hidden;
                    }
                }
                .block-dialog {
                    height: 344px;
                    margin-left: 15px;
                    margin-top: 30px;
                }
                .modal-dialog {
                    .modal-content {
                        overflow: hidden;
                    }
                    .text-stick {
                        height: auto;
                    }
                }
                .row-title {
                    .block-dialog-title {
                        top: 0px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
            @media (max-width: 320px) {
                .container {
                    width: 100%;
                }
                .block {
                    height: 155px;
                }
                .block-stick {
                    background-size: contain;
                    .text-stick {
                        margin-top: 10px;
                        height: 100px;
                        overflow: hidden;
                    }
                    .social {
                        bottom: -1px;
                    }
                }
                .block-normal {
                    .social {
                        bottom: -2px;
                    }
                }
                .block-dialog {
                    height: 300px;
                    margin-left: 15px;
                    .social {
                        bottom: 12px;
                    }
                }
                .modal-dialog {
                    .modal-content {
                        overflow: hidden;
                    }
                    .text-stick {
                        height: auto;
                    }
                }
                .row-title {
                    .block-dialog-title {
                        top: 0px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
        }
        /*END THU VIEN*/
        
        .text-body2 {
            font-size: $font-size-normal;
        }
        
        .text-body3 {
            font-size: $font-size-small;
        }
        
        .text-body4 {
            font-size: $font-size-extra-small;
        }
        
        .row-centered {
            text-align: center;
        }
        
        .col-centered {
            display: inline-block;
            float: none;
            /* reset the text-align */
            text-align: left;
            /* inline-block space fix */
            margin-right: -4px;
        }
        
        .jumbotron {
            background: none;
        }
        
        .jumbotron.vertical-center {
            margin-bottom: 0;
            /* Remove the default bottom margin of .jumbotron */
        }
        /*
############## MODAL STYLE
 */
        
        .modal {
            left: 0px !important;
            top: 0px;
            right: 0px;
            bottom: 0px;
            color: black;
            .title {
                color: #0090ff;
                font-weight: bold;
                font-size: 18px;
                text-transform: uppercase;
            }
        }
        /* .modal {
        text-align: center;
        padding: 0!important;
    }
    
    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    
    .modal-dialog {fbtt
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }*/
        
        .btn-share {
            background: none;
            border-radius: 5px;
            border: 1px solid #0090ff;
            width: 120px;
            height: 30px;
            font-weight: bold;
            color: #0090ff;
        }
        
        .btn {
            padding-top: 10px 20px;
            margin: 0px 10px;
            background: none;
            border: 1px solid #0090ff;
            font-weight: bold;
            border-radius: 6px;
        }
        
        .btn-close {
            /*  background: url(../images/btn_close.png) no-repeat !important;
        background-size: contain !important;*/
            background: none;
            color: #0090ff;
        }
        
        .btn-ok,
        .btn-submit {
            background: #0090ff;
            color: white;
        }
        
        button.close {
            position: absolute;
            top: 10px;
            right: 10px;
            height: 30px;
            width: 30px;
            border-radius: 15px;
            border-color: #ccc;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            opacity: 1;
            color: #0670c6;
            z-index: 10000;
            font-size: 15px;
            font-family: tahoma;
        }
        
        #dlg-notify-library {
            .modal-dialog {
                width: 800px;
            }
            .modal-header {
                height: 0px;
                border: none;
                padding: 0px;
                h2 {
                    display: none;
                }
            }
            .modal-content {
                background: url(../images/dialog_lixi_bg.png) no-repeat;
                background-size: 100% 100%;
            }
            .modal-footer {
                display: none
            }
            .block-dialog {
                height: 447px;
                margin-left: 30px;
                float: left;
                width: 400px;
                .lib-img {
                    height: 415px;
                    padding: 0px;
                }
                .social {
                    bottom: 8px;
                    right: 25px;
                }
            }
            .text-stick {
                float: left;
                width: 350px;
                padding-left: 10px;
            }
            .block-dialog-title {
                background: url("../images/num_round.png") no-repeat;
                background-size: cover;
                width: 305px;
                height: 59px;
                margin: 0 auto;
                padding-top: 20px;
                padding-left: 35px;
                color: #fff;
                font-weight: bold;
            }
            .watermark {
                width: 145px;
            }
        }
        
        #dlg-information .modal-body,
        #dlg-phone-card .modal-body,
        #fy .modal-body,
        #dlg-game-alert .modal-body,
        #dlg-selfie-item .modal-body {}
        
        #dlg-information .modal-header,
        #dlg-notify .modal-header,
        #dlg-game-alert .modal-header,
        #dlg-phone-card .modal-header,
        #dlg-selfie-item .modal-header {
            display: none;
        }
        
        #dlg-selfie-item .col-md-4 {}
        
        #dlg-selfie-item img {
            width: 100%;
        }
        
        #dlg-selfie-item .info {
            padding-top: 10%;
        }
        
        #dlg-phone-card .modal-header h2,
        #dlg-phone-card .modal-footer,
        #dlg-information .modal-footer,
        #dlg-information .modal-header h2,
        #dlg-notify .modal-header h2,
        #dlg-notify .modal-footer,
        #dlg-game-alert .modal-header h2,
        #dlg-game-alert .modal-footer,
        #dlg-selfie-item .modal-header h2,
        #dlg-selfie-item .modal-footer {
            display: none;
        }
        
        #dlg-phone-card .modal-content,
        #dlg-information .modal-content,
        #dlg-notify .modal-content,
        #dlg-game-alert .modal-content {
            background: #fde7a4;
            max-height: 600px;
            min-height: 100px;
            overflow: hidden;
            color: #000000;
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #000000;
                border: 2px solid #555555;
            }
        }
        
        #dlg-information .modal-dialog,
        #dlg-information .modal-content {
            max-height: 800px;
            min-height: 200px;
            min-width: 800px;
            background: #fde7a4;
        }
        
        #dlg-phone-card button.btn-close,
        #dlg-information button.btn-close,
        #dlg-notify button.btn-close {
            background: none;
            text-decoration: underline;
        }
        
        #dlg-phone-card .modal-content p,
        #dlg-video .modal-content p,
        #dlg-notify .modal-content p {
            font-weight: bold;
            font-size: 16px;
        }
        
        #dlg-login {
            .modal-header {
                display: none;
            }
            .modal-footer {
                display: none;
            }
            .modal-content {
                color: #000;
                background: #fde7a4;
            }
        }
        
        #dlg-game-alert {
            p {
                color: #585858;
            }
            .modal-content {
                overflow: hidden;
                padding-top: 40px;
                padding-bottom: 40px;
            }
            .modal-header {
                .close {
                    display: none;
                }
            }
            .modal-body {
                padding-right: 20px;
                padding-left: 20px;
            }
            .title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 16px;
            }
            .message {
                text-transform: uppercase;
            }
            .btn-continue {
                background: url(../images/btn_dialog_continue.png) no-repeat;
                background-size: contain;
                width: 150px;
                height: 30px;
            }
            .btn-luckydraw {
                background: url(../images/btn_dialog_luckydraw.png) no-repeat;
                background-size: contain;
                width: 150px;
                height: 30px;
            }
        }
        
        #dlg-phone-card .modal-content label {
            font-size: 12pt;
            font-weight: bold;
        }
        
        #dlg-information .modal-header .close {
            display: none;
        }
        
        #dlg-information {
            input,
            select {
                background: transparent;
                //border: 1px solid #fff;
                border-radius: 5px;
                margin-right: 5px;
                width: 100%;
            }
            option {
                background: #fff;
                color: black;
            }
            select {
                border-color: #000;
                max-width: 100px;
            }
            .form-group .form-control {
                border-color: #000;
                &:focus {
                    border-color: #e2a951;
                }
            }
        }
        
        #dlg-phone-card .modal-content,
        #dlg-lixi-notify .modal-content {
            background: url(../images/dialog_lixi_bg.png);
            background-size: 100% 100%;
            padding: 10px;
        }
        
        #dlg-lixi-notify .modal-header,
        #dlg-lixi-notify .modal-footer {
            display: none;
        }
        
        #dlg-video .modal-footer,
        #dlg-video .modal-header h2 {
            display: none;
            padding: 0px;
        }
        
        #dlg-video .modal-header {
            padding: 0px;
        }
        
        #dlg-video .modal-body {
            padding: 0px;
        }
        
        #dlg-video .modal-dialog,
        #dlg-video .modal-content {
            max-height: 800px;
            min-height: 200px;
            min-width: 800px;
            background: none;
        }
        
        #dialog-upanh {
            .title {
                background: url(../images/dialog_upanh_title_bg.png) no-repeat center;
                height: 90px;
                padding-top: 7%;
                padding-left: 5%;
                color: #fde7a4;
            }
            .message {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 16px;
                padding: 0 20px;
            }
        }
        
        .flexslider-container {
            width: 1019px;
        }
        
        //media query
        @include media("<=phone") {
            .flexslider-container {
                width: auto;
            }
            #dlg-notify {
                top: 30px;
            }
            .modal {
                position: fixed;
            }
            .modal-body {
                /*max-height: 400px;*/
                /* This should be less than the min-height in the media query. */
                overflow-y: auto;
            }
            #dlg-video .modal-dialog,
            #dlg-video .modal-content {
                min-width: 200px;
                width: 100%;
                background: none;
            }
            #dlg-video .modal-dialog,
            #dlg-video .modal-content {
                min-width: 200px;
                width: 100%;
                background: none;
            }
            #dialog-upanh {
                .title {
                    width: 100%;
                    padding-top: 14%;
                    padding-left: 9%;
                }
            }
            .header {
                background: rgba(255, 255, 255, 0.4);
                z-index: 1000;
                .navbar-default {
                    background: rgba(255, 255, 255, 0.4);
                    z-index: 1000;
                }
                #logo {
                    background: url("../images/mobile-logo-mbs.png") no-repeat;
                    background-size: cover;
                    top: 0;
                    left: 0;
                    height: 65px;
                    width: 150px;
                }
                .navbar-collapse.collapse.in {
                    border: none;
                }
            }
            body.quayso {
                #slider_flow {
                    overflow: hidden;
                    overflow-x: hidden;
                }
                #myImageFlow {
                    width: 720px;
                    position: absolute;
                }
            }
            #dlg-information {
                .modal-body {
                    max-height: 400px;
                }
                .modal-dialog {
                    width: 100%;
                    min-width: inherit;
                }
                .modal-content {
                    width: 100%;
                    min-width: inherit;
                }
            }
            body.thuvien {
                .library-container {
                    width: 100%;
                    margin: 0 auto;
                }
            }
            #dlg-notify-library {
                .modal-dialog {
                    width: 100%;
                    .block-dialog {
                        width: 100%;
                        height: auto;
                        margin: 0px;
                        padding-bottom: 35px;
                        .lib-img {
                            height: auto;
                            width: 100%;
                        }
                    }
                    .text-stick {
                        width: 300px;
                        .block-dialog-title {
                            width: 250px;
                            height: 48px;
                        }
                    }
                }
            }
        }
        
        #soundBG {
            position: fixed;
            top: 99%;
            left: 28px;
            margin-top: -40px;
            width: 40px;
            height: 40px;
            cursor: pointer;
            opacity: .8;
            background: url("../images/sound_on.png") no-repeat center center;
            z-index: 999999;
            background-size: contain;
        }
        
        #soundBG:hover {
            opacity: 1;
        }
        
        #soundBG.off {
            background: url("../images/sound_off.png") no-repeat center center;
        }
        
        #spinner {
            position: fixed;
            z-index: 999;
            overflow: show;
            margin: auto;
            top: -30%;
            left: 0;
            bottom: 0;
            right: 0;
            color: #fff;
            display: none;
        }
        
        @-moz-keyframes spinner-loader {
            0% {
                -moz-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -moz-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        
        @-webkit-keyframes spinner-loader {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        
        @keyframes spinner-loader {
            0% {
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        /* :not(:required) hides this rule from IE9 and below */
        
        .spinner-loader:not(:required) {
            -moz-animation: spinner-loader 1500ms infinite linear;
            -webkit-animation: spinner-loader 1500ms infinite linear;
            animation: spinner-loader 1500ms infinite linear;
            -moz-border-radius: 0.5em;
            -webkit-border-radius: 0.5em;
            border-radius: 0.5em;
            -moz-box-shadow: rgba(255, 255, 255, 0.6) 1.5em 0 0 0, rgba(255, 255, 255, 0.6) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.6) 0 1.5em 0 0, rgba(255, 255, 255, 0.6) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.6) -1.5em 0 0 0, rgba(255, 255, 255, 0.6) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.6) 0 -1.5em 0 0, rgba(255, 255, 255, 0.6) 1.1em -1.1em 0 0;
            -webkit-box-shadow: rgba(255, 255, 255, 0.6) 1.5em 0 0 0, rgba(255, 255, 255, 0.6) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.6) 0 1.5em 0 0, rgba(255, 255, 255, 0.6) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.6) -1.5em 0 0 0, rgba(255, 255, 255, 0.6) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.6) 0 -1.5em 0 0, rgba(255, 255, 255, 0.6) 1.1em -1.1em 0 0;
            box-shadow: rgba(255, 255, 255, 0.6) 1.5em 0 0 0, rgba(255, 255, 255, 0.6) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.6) 0 1.5em 0 0, rgba(255, 255, 255, 0.6) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.6) -1.5em 0 0 0, rgba(255, 255, 255, 0.6) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.6) 0 -1.5em 0 0, rgba(255, 255, 255, 0.6) 1.1em -1.1em 0 0;
            display: inline-block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin: 1.5em;
            overflow: hidden;
            text-indent: 100%;
        }
        
        #appBanner {
            height: 120px;
            bottom: 0;
            left: 0;
            position: fixed;
            width: 100%;
            z-index: 99999;
            background: url(../images/notify_install_bg.png) bottom right no-repeat;
            background-size: cover;
            color: #ccc!important;
            font-size: 12px;
            opacity: .96;
            #app-banner-logo {}
            .app-logo {
                float: left;
                width: 20%;
                max-width: 100px;
                margin-top: -25px;
                margin-left: 10px;
            }
            .sbClose {
                position: absolute;
                right: 10px;
            }
            .app-text {
                float: left;
                width: 200px;
                margin: 6px 6px 2px 0;
            }
            .main-text {
                font-size: 26px;
                color: #fff;
                padding: 5px;
            }
            .text-common {
                width: 100%;
                float: left;
            }
            sub-text {
                font-size: 15px;
                padding: 0 5px;
            }
            .text-common {
                width: 113%;
                float: left;
            }
            .button-download-app {
                width: 43%;
                max-width: 200px;
            }
            .button-open-app {
                margin-left: 12px;
                width: 43%;
                max-width: 200px;
                text-align: center;
            }
        }
        
        #appBanner div,
        .app-text div {
            float: left;
        }
        
        .animated-2 {
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
        
        .avatar-wrap {
            margin: 20px auto;
            position: relative;
            width: 200px;
            height: 200px;
        }
        
        .avatar {
            position: relative;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: 2px;
            overflow: hidden;
            background: #fff;
        }
        
        .avatar-small {
            width: 60px;
            height: 60px;
            img {
                margin-left: -20%;
                height: 70px;
                width: 70px;
            }
        }
        /*
        .flex-next,.flex-prev{
            color: #fff !important;
        }*/
        
        .flex-direction-nav a:before {
            /*color: #fff !important;*/
        }
        
        .animation {
            -webkit-animation-duration: 4s;
            animation-delay: 0s !important;
            -moz-animation-delay: 0s !important;
            -webkit-animation-delay: 0s !important;
            -webkit-animation-iteration-count: 1;
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
        }
        
        .imgcenter {
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -o-transform: rotate(0);
            -ms-transform: rotate(0);
            transform: rotate(0);
        }
        
        .imgRight5 {
            -webkit-transform: rotate(5deg);
            -moz-transform: rotate(5deg);
            -o-transform: rotate(5deg);
            -ms-transform: rotate(5deg);
            transform: rotate(5deg);
        }
        
        .imgLeft5 {
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -o-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
        }
        
        .delay2 {
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
            -webkit-animation-iteration-count: infinite;
        }
