<html ng-app="tet2016">

<head>
    <meta charset="utf-8">
    <title>Tết là để trở về - Share khoảnh khắc, bắt lộc xuân</title>
    <meta name="description" content="Sẻ chia khoảnh khắc Tết, bắt ngay lộc xuân trong mỗi bao lì xì để cả năm may mắn cùng Mobiistar nhé!">
    <meta property="og:image" itemprop="thumbnailUrl" content="http://tetladetrove.mobiistar.vn/share_fb.png" />
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <meta property="article:author" content="https://www.facebook.com/mobiistar" />
    <meta property="article:publisher" content="https://www.facebook.com/mobiistar" />
    <meta property="fb:app_id" content="126886561027170" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-dialog-service/dist/dialogs.min.css" />
    <link rel="stylesheet" href="bower_components/flexslider/flexslider.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="bower_components/ng-img-crop/compile/minified/ng-img-crop.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) css/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
</head>

<body id="ctrl" ng-controller="GlobalCtrl" class-route>
    <div google-analytics></div>
    <fb app-id="126886561027170" xfbml fb-init=""></fb>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div id="wrapper">
        <div class="container header clearfix">
            <div class="row">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="visible-xs-block navbar-brand navbar-brand-centered ">
                            <a my-href="buildUrl('')">
                                <div id="logo"></div>
                            </a>
                        </div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-brand-centered">
                        <ul class="navbar navbar-nav" bs-active-link>
                            <li class="logo-wrap hidden-xs">
                                <a my-href="buildUrl('')">
                                    <div id="logo" ng-click="gotoSite()"></div>
                                </a>
                            </li>
                            <li class="nav-item"><a my-href="buildUrl('')">Trang chủ</a></li>
                            <li class="nav-item"><a my-href="buildUrl('the-le')">Thể lệ</a></li>
                            <li class="nav-item"><a my-href="buildUrl('chia-se-khoanh-khac')">Chia sẻ khoảnh khắc</a></li>
                            <li class="nav-item"><a my-href="buildUrl('thu-vien')">Thư viện</a></li>
                            <li class="nav-item"><a my-href="buildUrl('li-xi')">Lì xì Tết</a></li>
                            <li class="nav-item"><a href="http://doimay.mobiistar.vn" target="_blank">Đổi Zumbo đón Tết</a></li>
                            <li class="nav-item">
                                <account-area></account-area>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
        <div class="clearfix "></div>
        <div id="main-container">
            <div class="container-fluid">
                <div class="row row-centered">
                    <div class="col-md-12 col-xs-12">
                        <div ng-view=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer">
        <div class="row row-centered top-30">
            <div class="col-md-10 col-centered">
                <div class="navbar text-center">
                    <p>CÔNG TY CP PHÁT TRIỂN CÔNG NGHỆ MOBILE STAR</p>
                    <p>Copyright © 2015 Mobiistar Corp. All Rights Reserved</p>
                    <p><span class="text-body2">Kết nối với chúng tôi</span>
                        <a target="_blank" href="http://www.facebook.com/mobiistar" title="facebook">
                            <img src="http://prebook.mobiistar.vn/public/templates/public/prebook/images/facebook_icon.png" alt="facebook mobiistar">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="spinner-loader" id="spinner"></div>
    <div id="soundBG" ng-click="changeSound()" ng-show="sound_enable">
        <audio loop autoplay>
            <source src="" type="audio/mpeg"> Your browser does not support the audio element.
        </audio>
    </div>
    <div id="appBanner" class="visible-xs-block" ng-show="!no_install" style="display:none">
        <div class="app-logo">
            <img id="app-banner-logo" class="img-responsive" src="images/notify_install_phone.png">
        </div>
        <a href="#" ng-click="no_install=true" class="sbClose">
            <img width="25px" class="img-responsive" src="images/notify_install_popup_close.png">
        </a>
        <div style="width:60%;margin-top:15px;">
            <div class="app-text">
                <div>
                    <span class="text-common main-text"><img id="app-banner-logo" class="img-responsive" src="images/notify_install_text.png"></span>
                </div>
            </div>
            <div style="padding:0 5px;width: 115%;">
                <div class="button-download-app">
                    <a href="http://bit.ly/campaign_tet2016" target="_blank">
                        <img class="img-responsive" src="images/notify_install_button_install.png"></a>
                </div>
                <div class="button-open-app">
                    <a id="openInappLink" href="mobivip://mobivip">
                        <img class="img-responsive" src="images/notify_install_button_open.png"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    ! function(A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-73007127-1', 'auto');
    </script>
    <script>
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', '//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '368572023331667');
    </script>
    <!-- Google Code dành cho Thẻ tiếp thị lại -->
    <script type="text/javascript">
    var google_tag_params = {
        ecomm_prodid: 'REPLACE_WITH_VALUE',
        ecomm_pagetype: 'REPLACE_WITH_VALUE',
        ecomm_totalvalue: 'REPLACE_WITH_VALUE',
    };
    </script>
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 956207259;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/956207259/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
    <!-- build:js(.) js/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-date-dropdowns/directive.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-dialog-service/dist/dialogs.min.js"></script>
    <script src="bower_components/angular-dialog-service/dist/dialogs.js"></script>
    <script src="bower_components/angular-dialog-service/dist/dialogs-default-translations.min.js"></script>
    <script src="bower_components/angular-dialog-service/dist/dialogs-default-translations.js"></script>
    <script src="bower_components/flexslider/jquery.flexslider.js"></script>
    <script src="bower_components/angular-flexslider/angular-flexslider.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/angular-animate-change/release/angular-animate-change.js"></script>
    <script src="bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) js/scripts.js -->
    <script src="js/createDialog.js"></script>
    <script src="js/app.js"></script>
    <script src="js/lixi.js"></script>
    <script src="js/upanh.js"></script>
    <script src="js/library.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/dialog-share.js"></script>
    <!-- endbuild -->
</body>

</html>
