<div class="row text-center">
    <p><strong>{{dialogParam.title}}</strong></p>
</div>
<div class="row text-center">
    <p ng-bind-html="dialogParam.message" style="padding-left:15px;padding-right:15px"> </p>
</div>
<div class="row text-center">
	<button type="button" class="btn btn-close ng-binding" ng-click="closeDialog()" tabindex="1"></button>
    <button type="button" class="btn btn-share ng-binding" ng-click="share()" tabindex="0"></button>
</div>

<iframe src="http://giovang.mobiistar.vn/thanks.html" style="display:none"></iframe>
