<div class="row  text-center">
</div>
<div class="row text-center">
    <p class="text-head text-black"><strong class="text-black">Mùa xuân của bạn sẽ ngập tràn niềm vui cùng 01 <span style="color:#0090ff">{{dialogParam.gitf.name}}</span></strong></p>
    <p>Cùng chia sẻ may mắn này với những người bạn của mình nào!</p>
</div>
<div class="row text-center">
    <img style="margin:0 auto" ng-src="{{dialogParam.gitf.id == 1?'images/lixi_xplus.png' : (dialogParam.gitf.id == 2 ?'images/lixi_yuki.png':(dialogParam.gitf.id == 3 ?'images/lixi_b247.png':''))}}" class="img-responsive"></ins>
</div>
<div class="row text-center top-20 ">
    <button type="button" class="btn btn-close  ng-binding" ng-click="$modalCancel()" tabindex="0">Đóng</button>
    <button type="button" class="btn btn-ok  ng-binding" ng-click="dialogParam.share(dialogParam.gitf.name)" tabindex="0">Chia sẻ</button>
</div>
<div class="row text-center top-20 "></div>
