<div class="row text-center  top-10">
    <p class="text-head text-black">Bạn đã may mắn nhận được <span style="color:#0090ff">{{dialogParam.voucher.name}} </span> </p>
</div>
<div class="row  text-center">

</div>
<div class="row" style="height:20px"></div>
<div class="row text-center">
    <div class="col-md-5">
        <p>Mã voucher của bạn</p>
    </div>
    <div class="col-md-5">
        <input id="txtCard" type="text" disabled="" ng-model="dialogParam.voucher.text" size="20" value="" style="height:25px">
    </div>
</div>
<div class="row text-center">

	<img style="margin:0 auto" src="images/lixi_voucher.png" class="img-responsive"></ins>
</div>
<div class="row  text-center top-10" ><p>Cùng chia sẻ may mắn này với những người bạn của mình nào!</p></div>
<div class="row text-center top-30 ">
    <button type="button" class="btn btn-close  ng-binding" ng-click="$modalCancel()" tabindex="0">Đóng</button>
    <button type="button" class="btn btn-ok  ng-binding" ng-click="dialogParam.share(dialogParam.voucher.name)" tabindex="0">Chia sẻ</button>
        
</div>
