<div class="row game_alert">
    <div class="row text-center">
        <p  class="title" ng-bind-html="dialogParam.title" style="padding-left:15px;padding-right:15px"> </p>
    </div>
    <div class="row text-center">
        <p  class="message" ng-bind-html="dialogParam.message" style="padding-left:15px;padding-right:15px"> </p>
    </div>
    <div class="row text-center">
        <button class="btn btn-close" ng-show="dialogParam.options.closeFn" ng-hide="!dialogParam.options.closeFn" ng-click="$modalCancel();dialogParam.options.closeFn? dialogParam.options.closeFn():''">Đồng ý</button>
        <button class="btn btn-continue" ng-hide="!dialogParam.options.continueFn" ng-show="dialogParam.options.continueFn" ng-click="$modalCancel();dialogParam.options.continueFn? dialogParam.options.continueFn():''"></button>
        <button class="btn btn-luckydraw" ng-hide="!dialogParam.options.luckydrawFn" ng-show="dialogParam.options.luckydrawFn" ng-click="$modalCancel();dialogParam.options.luckydrawFn? dialogParam.options.luckydrawFn():''"></button>
    </div>
</div>
