<div class="row text-center">
    <p ng-bind-html="dialogParam.message" style="padding-left:15px;padding-right:15px"> </p>
</div>
<div class="row text-center">
    <button class="btn btn-close" ng-show="dialogParam.btn_close" ng-click="$modalCancel()">Đóng</button>
    <button class="btn btn-ok" ng-show="dialogParam.btn_success" ng-click="$modalSuccess()">Đồng ý</button>
</div>

