
<div class="row top-30 text-center">
    <div class="block block-normal block-dialog ">
        <div class="row">
            <div class="col-md-12 col-xs-12  col-sm-12">
                <img src="{{dialogParam.item.image_url}}" class="lib-img img-responsive" />
            </div>
        </div>
        <div class="social">
            <span class="like" ng-class="{liked:dialogParam.item.is_like}">{{dialogParam.item.total_like}}<span class="glyphicon glyphicon-heart" ng-click="dialogParam.postLike(dialogParam.item)"></span> </span>
            <span class="share">{{dialogParam.item.total_fb_share}}<span class="glyphicon glyphicon-share-alt"  ng-click="dialogParam.postShare(dialogParam.item)"></span></span>
        </div>
        <img src="images/block_logo.png" class="img-responsive watermark" />
    </div>
    <div class="text-stick ">
       <div class="block-dialog-title  ">{{dialogParam.item.full_name}}</div>
        <!-- <p class="text-stick-title text-left text-body1">{{dialogParam.item.full_name}}</p> -->
        <p class="text-stick-content text-left text-body2 top-20" ng-bind-html="dialogParam.item.caption"> </p>
    </div>
</div>
<div class="row text-center">
    <button class="btn btn-close" ng-show="dialogParam.btn_close" ng-click="$modalCancel()"></button>
    <button class="btn btn-close" ng-show="dialogParam.btn_success" ng-click="$modalSuccess()"></button>
</div>
