<div id="dialog-upanh">
    <div class="row text-center  top-20">
        <p class="title" ng-bind-html="dialogParam.title" > </p>
    </div>
    <div class="row text-center top-20">
        <p ng-bind-html="dialogParam.message" class="message"> </p>
    </div>
    <div class="row text-center top-30">
        <button class="btn btn-close" ng-show="dialogParam.btn_close" ng-click="$modalCancel()">Đóng</button>
        <button class="btn btn-ok" ng-show="dialogParam.btn_success" ng-click="$modalSuccess()">Đồng ý</button>
        <button class="btn btn-ok" ng-show="dialogParam.choose_another" ng-click="$modalSuccess()">Chọn ảnh khác</button>
        <button class="btn btn-ok" ng-show="dialogParam.go_to_lixi" ng-click="$modalSuccess();gotoLixi()">Bốc lì xì</button>
        <button class="btn btn-ok" ng-show="dialogParam.btn_share" ng-click="$modalSuccess();dialogParam.share(dialogParam.img)">Chia sẻ</button>
    </div>
</div>
