<div class="row text-center">
    <img style="margin:0 auto"  src="images/banner_tet.png" class="img-responsive"></ins>
</div>
<div class="row text-center text-head top-10" style="color:#0090ff">Gấp đôi bao lì xì và quà tặng đặc biệt. Chỉ có trong ngày mồng 1 - 3 Tết! Khám phá ngay!</div>
<div class="row text-center top-20 ">
    <button type="button" class="btn btn-ok  ng-binding" ng-click="$modalCancel()" tabindex="0">Bốc lì xì</button>
</div>
<div class="row text-center top-20 "></div>
