<div class="vertical-box " >

    <div class="row">
        <div class="col-md-12">
            <p class="text-head text-center">
                Vui lòng đăng nhập bằng tài khoản của bạn
            </p>
        </div>
    </div>
     
    <div class="row top-30 row-centered text-center">
        <div class="col-md-6 col-centered">
            <a ng-click="$modalCancel();login('facebook')" href="#" class="login" ><img src="images/login-fb.png" class="img-responsive" /></a>
        </div>
    </div>
    <div class="row top-30 row-centered text-center"></div>
    <div class="row top-30 row-centered text-center"></div>