<div class="row text-center">
    <p ng-bind-html="dialogParam.message" style="padding-left:15px;padding-right:15px"> </p>
</div>
<div class="row text-center">
     
     <button class="btn btn-share" ng-show="dialogParam.btn_success" ng-click="$modalSuccess()">Chia sẻ</button>
</div>

