<div class="vertical-box"  wait-for-interpolation="true">
    <div class="row text-center">
        <p class="text-center text-head">
            Đăng ký thông tin
        </p>
        <p class="text-center text-body2">
            Vui lòng đăng ký thông tin chính xác để nhận và sử dụng mã ưu đãi
        </p>
    </div>
    <div class="row row-centered top-30">
        <div class="col-md-10 col-centered">
            <div class="center-block">
                <form name="form" class="form-horizontal" role="form">
                    <div class="form-group" ng-class="{true: 'has-error'}[submitted &&form.full_name.$invalid]">
                        <label class="control-label col-sm-4 text-body1" for="full_name">Họ và tên</label>
                        <div class="col-sm-8">
                            <input maxlength="50" type="text" maxlength="50" minlength="5" class="form-control" required ng-model="register_info.full_name" name="full_name" id="fullname" placeholder="Nhập họ và tên">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{true: 'has-error'}[submitted &&form.sex.$invalid]">
                        <label class="control-label col-sm-4 text-body1" for="address">Giới tính</label>
                        <div class="col-sm-8">
                            <label class="checkbox-inline">
                                <input name="sex" ng-model="register_info.sex" type="radio" value="1" required>Nam</label>
                            <label class="checkbox-inline">
                                <input name="sex" ng-model="register_info.sex" type="radio" value="0" required>Nữ</label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{true: 'has-error'}[submitted &&form.birthday_day.$invalid && form.birthday_month.$invalid && form.birthday_year.$invalid]">
                        <label class="control-label col-sm-4 text-body1" for="address">Ngày sinh</label>
                        <div class="col-sm-12 col-md-8">
                            <select ng-model="register_info.birthday_day" class="col-xs-4" required id="register_info.birthday_day" autocomplete="off">
                                <option value="">Ngày</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                            <select ng-model="register_info.birthday_month" class="col-xs-4" required id="birthday_month" autocomplete="off" required>
                                <option value="">Tháng</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <select ng-model="register_info.birthday_year" class="col-xs-4" id="birthday_year" autocomplete="off" required>
                                <option value="">Năm</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                                <option value="2009">2009</option>
                                <option value="2008">2008</option>
                                <option value="2007">2007</option>
                                <option value="2006">2006</option>
                                <option value="2005">2005</option>
                                <option value="2004">2004</option>
                                <option value="2003">2003</option>
                                <option value="2002">2002</option>
                                <option value="2001">2001</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                                <option value="1997">1997</option>
                                <option value="1996">1996</option>
                                <option value="1995">1995</option>
                                <option value="1994">1994</option>
                                <option value="1993">1993</option>
                                <option value="1992">1992</option>
                                <option value="1991">1991</option>
                                <option value="1990">1990</option>
                                <option value="1989">1989</option>
                                <option value="1988">1988</option>
                                <option value="1987">1987</option>
                                <option value="1986">1986</option>
                                <option value="1985">1985</option>
                                <option value="1984">1984</option>
                                <option value="1983">1983</option>
                                <option value="1982">1982</option>
                                <option value="1981">1981</option>
                                <option value="1980">1980</option>
                                <option value="1979">1979</option>
                                <option value="1978">1978</option>
                                <option value="1977">1977</option>
                                <option value="1976">1976</option>
                                <option value="1975">1975</option>
                                <option value="1974">1974</option>
                                <option value="1973">1973</option>
                                <option value="1972">1972</option>
                                <option value="1971">1971</option>
                                <option value="1970">1970</option>
                                <option value="1969">1969</option>
                                <option value="1968">1968</option>
                                <option value="1967">1967</option>
                                <option value="1966">1966</option>
                                <option value="1965">1965</option>
                                <option value="1964">1964</option>
                                <option value="1963">1963</option>
                                <option value="1962">1962</option>
                                <option value="1961">1961</option>
                                <option value="1960">1960</option>
                                <option value="1959">1959</option>
                                <option value="1958">1958</option>
                                <option value="1957">1957</option>
                                <option value="1956">1956</option>
                                <option value="1955">1955</option>
                                <option value="1954">1954</option>
                                <option value="1953">1953</option>
                                <option value="1952">1952</option>
                                <option value="1951">1951</option>
                                <option value="1950">1950</option>
                                <option value="1949">1949</option>
                                <option value="1948">1948</option>
                                <option value="1947">1947</option>
                                <option value="1946">1946</option>
                                <option value="1945">1945</option>
                                <option value="1944">1944</option>
                                <option value="1943">1943</option>
                                <option value="1942">1942</option>
                                <option value="1941">1941</option>
                                <option value="1940">1940</option>
                                <option value="1939">1939</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{true: 'has-error'}[submitted &&form.phone.$invalid]">
                        <label class="control-label col-sm-4 text-body1" for="phone">Số điện thoại</label>
                        <div class="col-sm-8">
                            <input maxlength="11" type="text" name="phone" required ng-model="register_info.phone" class="form-control" id="phone" placeholder="Nhập số điện thoại">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{true: 'has-error'}[submitted &&form.address.$invalid]">
                        <label class="control-label col-sm-4 text-body1" for="address">Địa chỉ</label>
                        <div class="col-sm-8">
                            <input maxlength="100" required type="text" name="address" ng-model="register_info.address" class="form-control" id="address" placeholder="Nhập địa chỉ">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{true: 'has-error'}[submitted &&form.province.$invalid]">
                        <label class="control-label col-sm-4 text-body1" for="province">Tỉnh/Thành</label>
                        <div class="col-sm-4">
                            <select ng-model="register_info.province" name="province" ng-options="o.name for o in cities.items track by o.id" required>
                                <option selected="selected"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{true: 'has-error'}[submitted &&form.district.$invalid]">
                        <label class="control-label col-sm-4 text-body1" for="district">Quận/Huyện</label>
                        <div class="col-sm-4">
                            <select ng-model="register_info.district" name="district" ng-options="o.name for o in register_info.province.districts.items track by o.id" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{true: 'has-error'}[submitted &&form.email.$invalid]">
                        <label class="control-label col-sm-4 text-body1" for="email">Email</label>
                        <div class="col-sm-8">
                            <input maxlength="50" minlength="6" min="6" max="80" name="email" type="email" ng-model="register_info.email" class="form-control" id="email" placeholder="Nhập email" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{true: 'has-error'}[submitted &&form.job.$invalid]">
                        <label class="control-label col-sm-4 text-body1" for="job">Nghề nghiệp</label>
                        <div class="col-sm-8">
                            <select ng-model="register_info.job" name="job" required>
                                <option value="">Chọn nghề nghiệp</option>
                                <option value="Học sinh">Học sinh</option>
                                <option value="Sinh viên">Sinh viên</option>
                                <option value="Nhân viên văn phòng">Nhân viên văn phòng</option>
                                <option value="Kinh doanh - Buôn bán">Kinh doanh - Buôn bán</option>
                                <option value="Công nhân">Công nhân</option>
                                <option value="Nông dân">Nông dân</option>
                                <option value="Tự do">Tự do</option>
                            </select>
                        </div>
                    </div>
                    <!--div class="form-group" ng-class="{true: 'has-error'}[submitted &&form.imei.$invalid]">
                        <label class="control-label col-sm-4 text-body1" for="imei">Mã chương trình</label>
                        <div class="col-sm-8">
                            <input maxlength="18" name="imei" required ng-model="register_info.imei" class="form-control" id="imei" placeholder="Mobiistar1trieufan">
                        </div>
                    </div-->
                    <!--div class="form-group"><div class="col-sm-8 col-sm-offset-4">Nhập vào mã "Mobiistar1trieufan"</div></divdiv-->
                    <!--div class="form-group" ng-class="{true: 'has-error'}[submitted &&form.type_send_code.$invalid]">
                        <label class="control-label col-sm-4 text-body1" for="address">Nhận mã code</label>
                        <div class="col-sm-8">
                            <label class="checkbox-inline">
                                <input name="type_send_code" ng-model="register_info.type_send_code" type="radio" value="1" required>Qua email</label>
                            <label class="checkbox-inline">
                                <input name="type_send_code" ng-model="register_info.type_send_code" type="radio" value="0" required>Tin nhắn</label>
                        </div>
                    </divdiv-->
                    <!--div class="form-group"    ng-class="{true: 'has-error'}[submitted &&form.more_field_3.$invalid]">
                        <label class="control-label col-sm-4 text-body1" for="job">Chọn RAM</label>
                        <div class="col-sm-8">
                            <select  ng-model="register_info.more_field_3" name="more_field_3" required autocomplete="off" required ng-options="item.id as item.name for item in eventDetail.list_ram">                                 
                            </select>
                        </div>
                    </div-->
                    <div class="form-group">
                        <div class="row  top-30"></div>
                    </div>
                    <div class="form-group">
                        <div class="row  row-centered">
                            <div class="col-md-4"></div>
                            <div class=" col-md-6 col-xs-12 text-center">
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <button type="reset" ng-click="reset()" class="btn btn-close">Nhập lại</button>
                                    </div>
                                    <div class="col-md-6 col-sm-6  col-xs-6">
                                        <button type="submit" ng-click="submitted=true;registerEvent()" class="btn btn-ok">Gửi</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
