<div class="row text-center  top-10">
    <p class="text-head text-black">Mùa xuân của bạn sẽ ngập tràn niềm vui cùng <span style="color:#0090ff">{{dialogParam.name}}</span></p>
</div>
<div class="row text-center">
    <p>Bạn hãy chọn mạng di động</p>
</div>
<div class="row  text-center">
    <div class="col-md-4">
        <label for="cardVT">
            <input id="cardVT" type="radio" ng-model="card.id" ng-disabled="!active" name="card" value="1" ng-change="chooseCard(card)">Viettel</label>
    </div>
    <div class="col-md-4">
        <label for="cardVN">
            <input id="cardVN" type="radio" ng-model="card.id" ng-disabled="!active" name="card" ng-change="chooseCard(card)" value="2">Vinaphone</label>
    </div>
    <div class="col-md-4">
        <label for="cardMF">
            <input id="cardMF" type="radio" ng-model="card.id" ng-disabled="!active" name="card" ng-change="chooseCard(card)" value="3">Mobifone</label>
    </div>
</div>
<div class="row" style="height:20px"></div>
<div class="row text-center">
    <div class="col-md-5" id="txtCardText"><p>Mã số của bạn</p></div>
    <div class="col-md-5">
        <input id="txtCard" type="text" disabled="" ng-model="card.text"  size="20" value="" style="height:25px">
    </div>
</div>
<div class="row text-center">
    <img style="margin:0 auto" src="images/lixi_card.png" class="img-responsive"></ins>
</div>
<div class="row  text-center top-10" ><p>Cùng chia sẻ may mắn này với những người bạn của mình nào!</p></div>
<div class="row text-center top-30 ">

 <button type="button" class="btn btn-close  ng-binding" ng-click="$modalCancel()" tabindex="0">Đóng</button>   
 <button type="button" class="btn btn-ok  ng-binding" ng-click="dialogParam.share(dialogParam.name)" tabindex="0">Chia sẻ</button>
 
</div>

