
<div class="container">
    <div class="row row-centered">
        <div class="col-md-10 col-xs-12 col-centered">
            <div class="row">
                <p class=" text-center text-title top-10">THÔNG TIN TÀI KHOẢN</p>
            </div>
            <div class="row top-20">
                <div class="col-md-offset-2 col-md-4 col-xs-12">
                    <div class="avatar-wrap">
                        <div class="avatar"><a  target="_blank" ng-href="{{userInfo.register_type == 'facebook' ? 'https://facebook.com/'+userInfo.social_id:'#'}}"><img class="" ng-src="{{userInfo.register_type == 'facebook' ? 'https://graph.facebook.com/'+userInfo.social_id+'/picture?type=large':userInfo.avatar}}"></a></div>
                    </div>
                </div>
                <div class="col-md-4 info  col-xs-12 user-info-area">
                    <div class="row">
                        <p class="text-body1">Tên: {{userInfo.full_name}}</p>
                    </div>
                    <div class="row">
                        <p class="text-body1">Email: {{userInfo.email}}</p>
                    </div>
                    <div class="row">
                        <p class="text-body1">Số điện thoại: {{userInfo.phone}}</p>
                    </div>
                    <div class="row">
                        <p class="text-body1">Địa chỉ: {{userInfo.address}}</p>
                    </div>
                    <div ng-show="!isMobile" class="row">
                        <p ng-click="logout();" class="text-body2" style="font-style:italic;cursor:pointer">Đăng xuất</p></a>
                    </div> 
                </div>
            </div>
            <div class="row top-30">
                <div class="col-md-offset-2 col-md-4 col-xs-6">
                    <img src="images/user-saved.png" class="img-responsive">
                    <div class="user-point-info">
                    	<p class="text-head text-center">{{td}}</p>
                    	<p class="text-body2 text-center">Số người dân cứu được(Điểm)</p>
                    </div>
                    <a ng-show="!isMobile" my-href="buildUrl('')" target="_blank"><img   src="images/btn-user-game.png" class="btn-play img-responsive"></a>
                </div>
                <div class="col-md-4   col-xs-6">
                    <img src="images/user-draw.png" class="img-responsive">
                    <div class="user-point-info">
                    	<p class="text-head text-center">{{lq}}</p>
                    	<p  class="text-body2 text-center">Số lượt quay may mắn còn lại</p>
                    </div>
                    <a ng-show="!isMobile" my-href="buildUrl('quay-may-man')" target="_blank"><img  src="images/btn-user-draw.png" class=" btn-play img-responsive"></a>
                </div>
            </div>
        </div>
    </div>
</div>
