<div class="container">
	<div class="row" ng-hide="is_dsmm">
		<div class="num-round-area margin-auto">
			Bạn còn <span id="num"></span> lượt bốc lì xì
		</div>
	</div>
	<div class="row" ng-hide="is_dsmm">
		<div class="tree-mai margin-auto">
			<div class="baolixi" ng-repeat="baolixi in baolixiList" ng-class="baolixi.class" ng-style="baolixi.style"></div>

		</div>
	</div>
	<div class="row" ng-hide="is_dsmm">
		<img src="images/text-giaithuongmayman.png" class="img-responsive margin-auto">
	</div>
	<div class="row top-30" ng-hide="is_dsmm">
        <div class="col-md-6 col-xs-6"><a alt="PRIME X PLus" href="http://www.mobiistar.vn/mua-hang/prime-x-plus" target="_blank"><img src="images/present_lixi_xplus.png" class="img-responsive float-right"></a></div>
        <div class="col-md-6  col-xs-6"><a alt="Mobiistar LAI Yuki" href="http://www.mobiistar.vn/mua-hang/mobiistar-lai-yuki/" target="_blank"><img src="images/present_lixi_yuki.png" class="img-responsive float-left"></a></div>
    </div>
    <div class="row top-30" ng-hide="is_dsmm">
        <div class="col-md-4  col-xs-4"><img src="images/present_lixi_card.png" class="img-responsive  float-right"></div>
        <div class="col-md-4  col-xs-4"><img src="images/present_lixi_b247.png" class="img-responsive margin-auto"></div>
        <div class="col-md-4  col-xs-4"><img src="images/present_lixi_voucher.png" class="img-responsive float-left"></div>        
    </div>
	<div class="row top-30" >
		<img src="images/text_danhsachtrungthuong.png" class="img-responsive margin-auto">
	</div>
    <div class="row top-30">
		<div class="col-sm-12 col-md-5 col-xs-12">
			<div class="form-group " ng-class="{true: 'has-error'}[submitted &&form.email.$invalid]">
            	<div class="form-control">
            		<div class="row">
                    	<input class="col-md-11 col-xs-11" maxlength="50" type="text" ng-model="search_params.keyword" maxlength="50"  ng-model="search_params.keyword"  name="email"placeholder="Email/số điện thoại">
                    	<span ng-click="search()"  class="glyphicon glyphicon-search"></span>
                	</div>
                </div>                                
            </div>
		</div>
		<div class="col-md-3 col-xs-12"></div>
		<div class="col-md-4 col-xs-12 form-group">
			<div class="row">
				<form name="form" class="form-horizontal" role="form">                           
                        <label class="control-label col-md-4 col-xs-4  text-body1 text-right col-centered ">Hiển thị:</label>
                        <div class="col-md-3 col-xs-3 form-control col-centered ">
                            <span class="{{search_params.owner==0?'tab-active':'tab-unative'}}" ng-click="filter(0)">Tất cả </span>&sol;
                            <span  ng-click="filter(1)" class="{{search_params.owner==1?'tab-active':'tab-unative'}}"> Cá nhân</span>   
                                                             
                        </div>                                                                
                    
                </form>
            </div>
		</div>	
	</div>
    
    <div class="row row-centered top-30 lucky-format">
        <div class="col-md-10 col-xs-12 col-centered">
            <div class="row top-header row-centered">
                <div class="col-md-2 col-xs-2 text-center"><strong>STT</strong></div>
                <div class="col-md-6  col-xs-5  text-center"><strong>HỌ TÊN</strong></div>
                <div class="col-md-4 col-xs-5 text-center"><strong>QUÀ TẶNG</strong></div>
            </div>
            <div class="row top-header ">
                <hr/>
            </div>
            <div class="result">
                <div class="row" ng-repeat="item in data">
                    <div class="col-md-2  col-xs-2 text-center">{{$index+1}}</div>
                    <div class="col-md-6  col-xs-5  text-center">{{item.full_name}}</div>
                    <div class="col-md-4  col-xs-5  text-center">{{item.off_name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-centered top-30"></div>
</div>