<div class="vertical-box main-backdrop " when-ready="isReady()" wait-for-interpolation="true">
    <div class="row top-20">
        <div class="col-md-12">
            <p class="text-head text-center">
                Vui lòng đăng nhập bằng tài khoản của bạn
            </p>
        </div>
    </div>
     
    <div class="row top-30 row-centered text-center">
        <div class="col-md-3 col-centered">
            <a href="#" ng-click="login('facebook')" class="login" ><img src="images/login-fb.png" class="img-responsive" /></a>
        </div>
        <div class="col-md-3 col-centered visible-xs-block top-20"></div>
        <div class="col-md-3 col-centered">
            <a  href="#" ng-click="login('google')" class="login"  ><img src="images/login-gg.png" class="img-responsive" /></a>
        </div>
    </div>
    <div class="row top-30 row-centered text-center"></div>
    <div class="row top-30 row-centered text-center"></div>
</div>
