<div class="container">
    <div class="row row-centered">
        <div class="col-md-10 col-xs-12 col-centered">
            <div class="vertical-box" when-ready="isReady()" wait-for-interpolation="true">
                <div class="row text-center">
                    <p class="text-center text-head">
                        Tra cứu thông tin kết quả
                    </p>
                </div>

                <div class="row row-centered top-30">
                    <div class="col-md-8 col-centered">
                        <form name="form" class="form-horizontal" role="form">
                            <div class="form-group " ng-class="{true: 'has-error'}[submitted &&form.email.$invalid]">
                                <label class="control-label col-sm-3   text-body1 text-right" for="email">Chương trình</label>
                                <div class="col-sm-6">
                                    <select ng-model="selected_program"  class="form-control" ng-init="selected_program = 0" ng-options="item.id as item.name for item in list_programs"></select>
                                     
                                </div>
                                <div class="col-sm-3 visible-xs-block"></div>
                                
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row row-centered top-30">
                    <div class="col-md-8 col-centered">
                        <form name="form" class="form-horizontal" role="form">
                            <div class="form-group " ng-class="{true: 'has-error'}[submitted &&form.email.$invalid]">
                                <label class="control-label col-sm-3   text-body1 text-right" for="email">Tìm kiếm</label>
                                <div class="col-sm-6">
                                    <input maxlength="50" type="text" required maxlength="50" class="form-control" ng-model="search_info.email" name="email" id="" placeholder="Email/số điện thoại">
                                </div>
                                <div class="col-sm-2 visible-xs-block"></div>
                                <div class="col-sm-2">
                                    <button type="submit" ng-click="submitted=true;search();" class="btn btn-search"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row row-centered top-30">
                    <div class="col-md-10 col-xs-12 col-centered">
                        <div class="row top-header row-centered">
                            <div class="col-md-2 col-xs-2 text-center"><strong>STT</strong></div>
                            <div class="col-md-6  col-xs-5  text-center"><strong>HỌ TÊN</strong></div>
                            <div class="col-md-4 col-xs-5 text-center"><strong>GIẢI THƯỞNG</strong></div>
                        </div>
                        <div class="row top-header ">
                            <hr/>
                        </div>
                        <div class="result">
                            <div class="row" ng-repeat="item in data">
                                <div class="col-md-2  col-xs-2 text-center">{{$index+1}}</div>
                                <div class="col-md-6  col-xs-5  text-center">{{item.full_name}}</div>
                                <div class="col-md-4  col-xs-5  text-center">{{item.off_name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-centered top-30"></div>
            </div>
        </div>
    </div>
</div>
