<div class="row" ng-hide="is_story">
    <div class="container main_top_area_wrap">
        <div class="container main_top_area">
            <div class="text-tetladetrove visible-xs-block hidden-md  margin-auto">
                <img src="images/text-tetladetrove-sm.png" class="img-responsive margin-auto">
            </div>
            <div class="row main_text_area">
                <p class="text-left"><strong>Dù cuộc sống có bận rộn đến đâu, Tết cũng là thời khắc để tạm gác lại những lo toan để trở về. Vì khi ta trở về, Tết mới là trọn vẹn.</strong></p>
            </div>
            <div class="row main_camera_area">
                <div class="row"><img src="images/text_sharekhoanhkhac.png" class="text_sharekhoanhkhac"> </div>
                <div class="row btn-join" ng-click="gotoUpanh()">
                    <img src="images/text_click_to_share.png" class="text_click_to_share hidden-xs  animated flash animated  delay2">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="row top-30 text-center">
            <img src="images/text-cauchuyentrove.png" class="img-responsive margin-auto">
        </div>
        <div class="row top-10">
            <p class="text-left" style="padding-left:10px;padding-right:10px">Không yêu thương nào rõ rệt hơn tình cảm gia đình. Không gì quý giá hơn hình ảnh cả nhà sum vầy dịp đầu năm. Tết đến luôn là thời khắc thiêng liêng nhất. Mỗi người có cả đời để đi khắp thế giới, vậy nên, Tết là để trở về và lưu giữ những khoảnh khắc yêu thương bên mình.</p>
        </div>
        <div class="row top-30">
            <flex-slider flex-slide="s in slides track by $index" slideShow="true" animation="slide" control-nav="false">
                <li>
                    <img ng-src="{{s.img}}">
                    <!--a target="_blank" href="{{s.href}}">
                    <button class="btn btn-viewmore">Xem thêm</button>
                </a-->
                </li>
            </flex-slider>
        </div>
        <div class="row video top-30">
            <video autoplay="" loop="" muted="" id="bgvid">
                <source src="http://tetladetrove.mobiistar.vn/videos/mobile_video.mp4" type="video/mp4">
            </video>
            <a href="">
                <div class="btn-play" ng-click="playvideo();"></div>
            </a>
        </div>
        <div class="row top-20 text-center" ng-hide="is_story">
            <img src="images/text-giaithuong.png" class="img-responsive margin-auto">
        </div>
        <div class="row top-10" ng-hide="is_story">
            <div class="col-md-6">
                <a alt="PRIME X MAX" href="http://www.mobiistar.vn/mua-hang/prime-x-max/" target="_blank"><img src="images/present_max.png" class="img-responsive float-right"></a>
            </div>
            <div class="col-md-6">
                <a alt="PRIME X GRAND" href="http://www.mobiistar.vn/mua-hang/prime-x-grand/" target="_blank"><img src="images/present_grand.png" class="img-responsive float-left"></a>
            </div>
        </div>
        <div class="row top-10 col-present-5 hidden-xs visible-lg-block" ng-hide="is_story">
            <div class="col-md-1">
                <a href="" target="_blank"><img src="images/present_card.png" class="img-responsive"></a>
            </div>
            <div class="col-md-1">
                <a alt="Mobiistar LAI Yuki" href="http://www.mobiistar.vn/mua-hang/mobiistar-lai-yuki/" target="_blank"><img src="images/present_yuki.png" class="img-responsive"></a>
            </div>
            <div class="col-md-1">
                <a alt="PRIME X PLus" href="http://www.mobiistar.vn/mua-hang/prime-x-plus" target="_blank"><img src="images/present_xplus.png" class="img-responsive"></a>
            </div>
            <div class="col-md-1">
                <a alt="" href="" target="_blank"><img src="images/present_b247.png" class="img-responsive"></a>
            </div>
            <div class="col-md-1">
                <a href="" target="_blank"><img src="images/present_voucher.png" class="img-responsive"></a>
            </div>
        </div>
        <div class="row top-10 hidden-md visible-xs-block" ng-hide="is_story">
            <div class="col-xs-6">
                <a href="" target="_blank"><img src="images/present_card.png" class="img-responsive"></a>
            </div>
            <div class="col-xs-6">
                <a alt="Mobiistar LAI Yuki" href="http://www.mobiistar.vn/mua-hang/mobiistar-lai-yuki/" target="_blank"><img src="images/present_yuki.png" class="img-responsive"></a>
            </div>
            <div class="col-xs-6">
                <a alt="PRIME X PLus" href="http://www.mobiistar.vn/mua-hang/prime-x-plus" target="_blank"><img src="images/present_xplus.png" class="img-responsive"></a>
            </div>
            <div class="col-xs-6">
                <a href="" target="_blank"><img src="images/present_b247.png" class="img-responsive"></a>
            </div>
        </div>
        <div class="row hidden-md visible-xs-block" ng-hide="is_story">
            <div class="col-xs-12">
                <a href="" target="_blank"><img src="images/present_voucher.png" class="img-responsive margin-auto"></a>
            </div>
        </div>
        <div class="row top-30" ng-hide="is_story">
            <a href="" ng-click="gotoUpanh()"><img src="images/btn-join-now.png" class=" btn-join img-responsive margin-auto"> </a>
        </div>
        <div class="row top-20"></div>
    </div>
</div>
