<div class="container">
    <div class="row row-centered">
        <div class="col-md-10 col-xs-12 col-centered">
            <div class=" row presents">
                <div class="row top-20 ">
                    <div class="col-md-12" style="text-align:center">
                        <p class="text-center text-head">
                        Giải thưởng
                        </p>
                    </div>
                </div>
                <div class="row row-centered row-top30" id="present-block">
                    <div class="present-backdrop"></div>
                    <div class="col-md-12 col-centered">
                        <div class="row row-centered">
                            <div class="col-md-4 col-xs-4 col-centered">
                                <div class="row present-row">
                                    <img src="images/present_grand.png" class="img-responsive" />
                                </div>
                            </div>                            
                        </div>
                        <div class="row row-centered">
                            <div class="col-md-4  col-xs-4">
                                <div class="row present-row">
                                    <img src="images/present_card.png" class="img-responsive" />
                                </div>
                            </div>
                            <div class="col-md-4  col-xs-4">
                                <div class="row present-row">
                                    <img src="images/present_b247.png" class="img-responsive" />
                                </div>
                            </div>
                            <div class="col-md-4  col-xs-4">
                                <div class="row present-row">
                                    <img src="images/present_voucher.png" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
