<div class="container">
	<p class=" text-center text-head top-10">GIẢI THƯỞNG</p>
    <div class="row row-centered " style="margin-top:20%">
        <div class="col-md-10 col-xs-12 col-centered">
            <div class="row">
            	<img src="images/group4_presents.png" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
