<div class="container main-backdrop" debug="true">
    <div class="row row-centered">
        <div class="col-md-10 col-xs-12 col-centered">
            <div class="row top-30">
                <p class="text-center text-title text-white"><strong>THỂ LỆ CUỘC THI ẢNH “TẾT LÀ ĐỂ TRỞ VỀ - SHARE KHOẢNH KHẮC, BẮT LỘC XUÂN”</strong></p>
                <p class="text-body1">Không yêu thương nào rõ rệt hơn tình cảm gia đình. Không gì quý giá hơn hình ảnh cả nhà sum vầy dịp đầu năm. Tết đến luôn là thời khắc thiêng liêng nhất. Mỗi người có cả đời để đi khắp thế giới, vậy nên, Tết là để trở về và lưu giữ những khoảnh khắc yêu thương bên mình.</p>
                <p class="top-20"></p>
                <p class="text-body1 text-white">1. Thời gian tham gia chương trình:</p>
                <ul>
                    <li>Từ 02/02 – 21/02/2016 (từ 22 tháng Chạp âm lịch đến ngày 14 tháng 1 âm lịch)</li>
                </ul>
                <p class="text-body1 text-white">2. Đối tượng tham gia:</p>
                <p class="top-20"></p>
                <ul>
                    <li>Tất cả công dân Việt Nam.</li></ul>
                </p>
                <p class="text-body1 text-white">3. Chủ đề cuộc thi:</p>
                <p class="top-20"></p>
                <ul>
                    <li>Lưu giữ những khoảnh khắc Tết trên hành trình trở về, những khoảnh khắc Tết sum vầy hạnh phúc của bạn và chia sẻ những khoảnh khắc đó với Mobiistar.</li></ul>
                <p class="top-20"></p>
                <p class="text-body1 text-white">4. Cách thức tham gia :</p>
                <p class="top-20"></p>
                <p>Bạn có thể tham gia cuộc thi qua 2 cách:</p>
                <ul>
                    <li>a. Tham gia đăng ảnh dự thi trên microsite <strong>“TẾT LÀ ĐỂ TRỞ VỀ - SHARE KHOẢNH KHẮC, BẮT LỘC XUÂN”</strong> tại địa chỉ: <a href="http://tetladetrove.mobiistar.vn">http://tetladetrove.mobiistar.vn</a></li>
                    <li> b. Tham gia đăng ảnh dự thi bằng ứng dụng Camera Tết: <a href="http://bit.ly/campaign_tet2016">http://bit.ly/campaign_tet2016</a>
                    </li>
                </ul>
                <p class="top-20"></p>
                <p class="text-body1 text-white">5. Các bước tham gia: </p>
                <p class="top-20"></p>
                <ul>
                    <li>- Người chơi tham gia tải ảnh dự thi <strong>“TẾT LÀ ĐỂ TRỞ VỀ - SHARE KHOẢNH KHẮC, BẮT LỘC XUÂN”</strong> theo chủ đề cuộc thi.</li>
                    <li>- Share ảnh tham dự cuộc thi về Facebook cá nhân của mình ở chế độ công khai.</li>
                    <li>- Mỗi người chơi có thể tham gia gửi ảnh dự thi nhiều lần trong suốt cuộc thi, nhưng mỗi ngày chỉ được gửi tối đa 3 ảnh. Sau khi gửi ảnh dự thi và share ảnh về tường nhà sẽ nhận được 3 lượt bốc Lì xì để nhận những phần quá giá trị.</li>
                    <li>- Cùng chia sẻ để mọi người bình chọn và nhận những giải thưởng giá trị sau khi cuộc thi kết thúc.</li>
                    <li>- Mobiistar có quyền sử dụng thông tin và hình ảnh người tham gia để truyền thông trên các phương tiện thông tin đại chúng</li>
                    <li>* Nếu có người click vào link chia sẻ từ Facebook của bạn và tham gia đăng ảnh thành công, bạn sẽ nhận thêm được 01 lượt bốc lì xì cho mỗi người tham gia.</li>
                </ul>
                <p class="top-20"></p>
                <p class="text-body1 text-white">6. Giải thưởng: </p>
                <p class="top-20"></p>
                <ul>
                    <li>
                        <p><strong>Giải thưởng chung cuộc</strong></p>
                        <p>- Giải thưởng cho bức ảnh được yêu thích nhất: 3 giải</p>
                        <ul>
                            <li>+ Bức ảnh có lượt Like nhiều nhất – 01 smartphone PRIME X Max</li>
                            <li>+ Bức ảnh có lượt Like thứ hai – 01 smartphone PRIME X Grand</li>
                            <li>+ Bức ảnh có lượt Like thứ ba – 01 smartphone PRIME X Plus</li>
                        </ul>
                    </li>
                    <li>
                        <p class="top-20"></p>
                        <p><strong>Quà tặng Lì xì may mắn:</strong></p>
                        <ul>
                            <li>+ 02 smartphone PRIME X Plus</li>
                            <li>+ 02 smartphone LAI Yuki</li>
                            <li>+ 10 điện thoai kiêm sạc dự phòng B247</li>
                            <li>+ 1500 thẻ cào điện thoại (500k, 200k, 100k, 50k, 20k, 10k)</li>
                            <li>+ 500 voucher ưu đãi PRIME X Max, PRIME X Grand, PRIME X Plus, LAI Yuki (50%, 25%, 20%, 20%, 15%, 10%)</li>
                        </ul>
                    </li>
                    <li><i>Đặc biệt ngày mùng 1 – mùng 3 Tết Nguyên Đán sẽ xuất hiện các giải thưởng may mắn có giá trị cao trong những giải thưởng nêu trên.</i> </li>
                </ul>
                <p class="top-20"></p>
                <p class="text-body1 text-white">7. Quy định: </p>
                <p class="top-20"></p>
                <p><strong>a. Ảnh dự thi hợp lệ phù hợp với những tiêu chí sau:</strong></p>
                <ul>
                    <li>- Ảnh dự thi hợp lệ là ảnh được chụp từ điện thoại. Khuyến khích ảnh chụp từ điện thoại mobiistar ( vui lòng kèm hashtag tên điện thoại nếu ảnh chụp từ điện thoại mobiistar. Ví dụ: #PRIME508, #LAIYuna…)</li>
                    <li>- Ảnh dự thi phải phù hợp với chủ đề cuộc thi <strong>“TẾT LÀ ĐỂ TRỞ VỀ - SHARE KHOẢNH KHẮC, BẮT LỘC XUÂN”</strong>: những khoảnh khắc Tết, khoảnh khắc sum vầy hạnh phúc của bạn.</li>
                    <li>- Ảnh phải rõ nét. Không vi phạm thuần phong mỹ tục Việt Nam.</li>
                    <li>- Ảnh phải thuộc quyền sở hữu của người dự thi (BTC không chịu trách nhiệm và sẽ loại những ảnh dự thi nếu như có tranh chấp bản quyền).</li>
                    <li>- Ảnh dự thi hợp lệ là ảnh thực hiện đầy đủ các bước đăng ảnh tham gia và chia sẻ về facebook cá nhân.</li>
                </ul>
                <p class="top-20"></p>
                <p><strong>b. Ảnh dự thi không hợp lệ:</strong></p>
                <ul>
                    <li>- Ảnh không phù hợp với chủ đề của cuộc thi <strong>“TẾT LÀ ĐỂ TRỞ VỀ - SHARE KHOẢNH KHẮC, BẮT LỘC XUÂN”</strong>: những khoảnh khắc Tết, khoảnh khắc sum vầy hạnh phúc của bạn.</li>
                    <li>- Ảnh không đủ chất lượng (mờ, nhòe…).</li>
                    <li>- Ảnh không thuộc sở hữu của người tham gia dự thi.</li>
                    <li>- Ảnh không thực hiện đầy đủ các bước đăng ảnh và chia sẻ về facebook cá nhân.</li>
                </ul>
                <p><strong>c. Một số quy định khác:</strong></p>
                <ul>
                    <li>- Mỗi người chỉ gửi 3 ảnh dự thi/ngày.</li>
                    <li>- Không sử dụng các chương trình gian lận lượt yêu thích. BTC có quyền loại bất cứ ảnh dự thi nếu phát hiện hành vi gian lận.</li>
                    <li>- BTC sẽ không giải quyết các trường hợp tranh chấp nếu như các bạn không cung cấp được bằng chứng xác thực.</li>
                    <li>- BTC có quyền sử dụng hình ảnh của người chơi cho mục đích truyền thông cho cuộc thi.</li>
                    <li>- Trong mọi trường hợp, quyết định của BTC là quyết định cuối cùng.</li>
                </ul>
                <p class="top-20"></p>
                <p class="text-body1 text-white">8. Quy định nhận giải thưởng: </p>
                <p class="top-20"></p>
                <ul>
                    <li>- Bạn sẽ nhận được thông báo trúng thưởng ngay khi nhận giải thưởng ở cây lì xì và email thông báo trúng thưởng (theo email bạn đăng ký tham gia chương trình) chậm nhất là 3 ngày sau khi nhận được thông báo.</li>
                    <li>- Sau khi chương trình kết thúc vào ngày 24/02/2016, mobiistar sẽ liên hệ với bạn để xác nhận thông tin và trao giải qua đường bưu điện trong vòng 15 ngày sau đó.</li>
                    <li>- Trong vòng 30 ngày kể từ lúc công bố giải thưởng, nếu người chơi không liên hệ để cung cấp thông tin, giải thưởng sẽ bị hủy.</li>
                </ul>
                <p class="top-20"></p>
                <p class="top-20 text-center" ng-hide="mobile">
                     <a href=""  ng-click="gotoUpanh()"><img src="images/btn-join-now.png" class=" btn-join img-responsive margin-auto"> </a>
                </p>
                <p class="top-20"></p>
            </div>
        </div>
    </div>
</div>
