<div class="library-container container">

	<div class="row top-10">		
			<img src="images/text-tetladetrove-lg.png" class="col-sm-6 col-sm-offset-3  col-md-4 col-md-offset-4 col-xs-8  col-xs-offset-2 img-responsive" />	
	</div>

	<div class="row top-30">
		<div class="col-sm-12 col-md-5 col-xs-12">
			<div class="form-group " ng-class="{true: 'has-error'}[submitted &&form.email.$invalid]">
            	<div class="form-control">
            		<div class="row">
                    	<input class="col-md-11 col-xs-11" maxlength="50" type="text" ng-model="search_params.keyword" maxlength="50"  ng-model="search_params.keyword"  name="email"placeholder="Email/số điện thoại">
                    	<span ng-click="filter(search_params.display)"  class="glyphicon glyphicon-search"></span>
                	</div>
                </div>                                
            </div>
		</div>
		<div class="col-md-2 col-xs-12"></div>
		<div class="col-md-5 col-xs-12 form-group">
			<div class="row">
				<form name="form" class="form-horizontal" role="form">                           
                        <label class="control-label col-md-4 col-xs-4  text-body1 text-right col-centered ">Hiển thị:</label>
                        <div class="col-md-3 col-xs-3 form-control col-centered ">
                            <span  ng-click="filter(3)" class="{{search_params.display==3?'tab-active':'tab-unative'}}"> Yêu thích</span>&sol; 
                            <span class="{{search_params.display==1?'tab-active':'tab-unative'}}" ng-click="filter(1)">Tất cả </span>&sol;
                            <span  ng-click="filter(2)" class="{{search_params.display==2?'tab-active':'tab-unative'}}"> Cá nhân</span>   
                        </div>                                                                
                    
                </form>
            </div>
		</div>	
	</div>

	<div class="row top-30">
				
		<div class="block block-stick col-md-6 col-xs-12 col-sm-8" ng-repeat="item in special_items track by $index" ng-show="$index == 0"  >
			<div class="row" ng-click="gotoDetail(item)">
				<div class="col-md-6 col-xs-6 col-sm-6">
					<img src="{{item.image_url}}" class="lib-img img-responsive" />						
				</div>				
				<div class="text-stick col-md-6 col-xs-6 col-sm-6">
					<p class="text-stick-title text-left text-body1">{{item.full_name}}</p>
					<p class="text-stick-content text-left text-body2" ng-bind-html="item.caption"> </p>
				</div>
			</div>

			<div class="social">
				<span class="like" ng-class="{liked:item.is_like}" >{{item.total_like}} <span class="glyphicon glyphicon-heart"  ng-click="postLike(item)"></span> </span>
				<span class="share" >{{item.total_fb_share}} <span class="glyphicon glyphicon-share-alt"  ng-click="postShare(item)"></span></span>					
			</div>

			<img src="images/stick_logo.png" class="img-responsive watermark" />
		</div>
		
		<div class="block block-normal col-md-3 col-xs-6 col-sm-4" ng-repeat="item in items">
			<div class="row" ng-click="gotoDetail(item)">
				<div class="col-md-12 col-xs-12  col-sm-12">
					<img src="{{item.image_url}}" class="lib-img img-responsive" />						
				</div>
			</div>			
			
			<div class="social">
				<span class="like"  ng-class="{liked:item.is_like}">{{item.total_like}}<span class="glyphicon glyphicon-heart" ng-click="postLike(item)"></span> </span>
				<span class="share" >{{item.total_fb_share}}<span class="glyphicon glyphicon-share-alt" ng-click="postShare(item)"></span></span>					
			</div>

			<img src="images/block_logo.png" class="img-responsive watermark" />

			<div class="hover-text" ng-click="gotoDetail(item)">
				<p class="text-left text-body1">{{item.full_name}}</p>
				<p class="text-left text-body2" ng-bind-html="item.caption"></p>
			</div>
		</div>

		<div class="block block-stick col-md-6 col-xs-12 col-sm-8" ng-repeat="item in special_items track by $index" ng-show="$index == 1"  >
			<div class="row" ng-click="gotoDetail(item)">
				<div class="col-md-6 col-xs-6 col-sm-6">
					<img src="{{item.image_url}}" class="lib-img img-responsive" />						
				</div>				
				<div class="text-stick col-md-6 col-xs-6 col-sm-6">
					<p class="text-stick-title text-left text-body1">{{item.full_name}}</p>
					<p class="text-stick-content text-left text-body2" ng-bind-html="item.caption"> </p>
				</div>
			</div>

			<div class="social">
				<span class="like"  ng-class="{liked:item.is_like}">{{item.total_like}} <span class="glyphicon glyphicon-heart"  ng-click="postLike(item)"></span> </span>

				<span class="share" >{{item.total_fb_share}} <span class="glyphicon glyphicon-share-alt"  ng-click="postShare(item)"></span></span>					
			</div>

			<img src="images/stick_logo.png" class="img-responsive watermark" />
		</div>
		
	</div>
	<div class="row">
		<div class="pagination col-xs-12 col-md-12 col-sm-12">
	        <ul>
	            

	            <li  ng-click="gotoPage(paginator.previous)" ng-class="{disabled:paginator.first==paginator.current}"><a ng-click="gotoPage(paginator.previous)" href="#" class="prev prev_disabled"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
	            <li ng-click="gotoPage(paginator.first)" ng-class="{disabled:paginator.first==paginator.current}"><a ng-click="gotoPage(paginator.first)" href="#">Đầu</a></li>


	            <li ng-click="gotoPage(page.page)" ng-class="{active:page.current}"  ng-repeat="page in paginator.pagesInRange"><a href="#" ng-click="gotoPage(page.page)">{{page.page}}</a></li>

	            <li ng-click="gotoPage(paginator.last)" ng-class="{disabled:paginator.last==paginator.current}"><a ng-click="gotoPage(paginator.last)" href="#">Cuối</a></li>
	            <li  ng-click="gotoPage(paginator.next)" ng-class="{disabled:paginator.last==paginator.current}"><a ng-click="gotoPage(paginator.next)" href="#" class="next next_disabled"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
	                       
	        </ul>
	    </div>
	</div>

	<div class="row top-30">
		<div class="col-xs-12 col-md-12 col-sm-12" style="cursor:pointer">	
			<a ng-click="gotoUpanh()"><img src="images/btn-join-now.png" /> </a>			
		</div>
	</div>

	<div class="main-area"></div>
</div>   