<div class="container">
    <div class="row row-centered">
        <div class="col-md-10 col-xs-12 col-centered">
            <div class="row">
                <p class=" text-center text-title top-10">BẢNG THÀNH TÍCH</p>
            </div>
            <div class="row top-20">
                <div class="col-md-offset-1 col-xs-offset-2 col-xs-8 col-md-4  ">
                    <div class="row">
                        <p class=" text-center text-body1 top-10"> top 3 cày cuốc</p>
                    </div>
                    <div class="row  top-col">
                        <div class="info-wrap">
                            <div class="row" ng-repeat="rankUser in topRank ">
                                <div class="col-md-4 col-xs-3">
                                    <div class="avatar-wrap  avatar-small">
                                        <div class="avatar avatar-small"><img class="" ng-src="{{rankUser.register_type == 'facebook' ? 'https://graph.facebook.com/'+rankUser.social_id+'/picture?type=normal':rankUser.avatar}}" /></div>
                                    </div>
                                </div>
                                <div class="col-md-6 info col-xs-6">
                                    <p class="text-title">{{$index + 1}}. {{rankUser.full_name}}</p>
                                </div>
                                <div class="col-md-3 info col-xs-3">
                                    <p style="color:orange">{{rankUser.score}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 "></div>
                <div class="col-md-4 info-wrap  col-xs-offset-2 col-xs-8">
                    <div class="row">
                        <p class=" text-center text-body1 top-10"> top 3 xuất sắc </p>
                    </div>
                    <div class="row  top-col">
                        <div class="row info-wrap">
                            <div class="row" ng-repeat="scoreUser in topScore ">
                                <div class="col-md-4 col-xs-3">
                                    <div class="avatar-wrap  avatar-small">
                                        <div class="avatar avatar-small"><img class="" ng-src="{{scoreUser.register_type == 'facebook' ? 'https://graph.facebook.com/'+scoreUser.social_id+'/picture?type=normal':scoreUser.avatar}}" /></div>
                                    </div>
                                </div>
                                <div class="col-md-6 info col-xs-6">
                                    <p class="text-title">{{$index + 1}}. {{scoreUser.full_name}}</p>
                                </div>
                                <div class="col-md-3 info col-xs-3">
                                    <p style="color:orange">{{scoreUser.score}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-30"></div>
</div>
