<div class="container">
    <div class="row main-area top-30">
        <div class="col-md-6  col-xs-12">
            <div class="row desc-area">
                <p class="text-head text-left">CHIA SẺ KHOẢNH KHẮC</p>
            </div>
            <div class="row">
                <img src="images/text-tetladetrove-lg.png" class="img-responsive margin-auto">
            </div>
            <div class="row"><img src="images/text_sharekhoanhkhac.png" class="text_sharekhoanhkhac"></div>
            <div class="row top-20 row-centered">
                <div class="col-md-10 col-centered">
                    <p class="text-body text-left">
                        Sum vầy là khoảnh khắc đẹp nhất, hãy lưu lại những cảm xúc này cùng mobiistar để Tết luôn trọn vẹn và nhận được những quà tặng may mắn nhé !
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="phone-cover">
                <div class="upanh-area">
                    <div id="upload" >
                        <div ngf-drop ng-model="file" ngf-pattern="image/*" class="cropArea">
                            <img-crop image="file| ngfDataUrl" area-type="square" result-image="croppedDataUrl" result-image-size="500" ng-init="croppedDataUrl=''">
                            </img-crop>
                        </div>

                    </div>
                    <button  ngf-select ng-model="file" name="file" accept="image/*" ngf-max-size="15MB" required ngf-model-invalid="errorFiles" class="btn btn-submit" style="margin-top:10px">Chọn hình ảnh</button>
                </div>
                <div class="subject-area">
                    <textarea ng-model="caption" placeholder="" required maxlength="200" and minlength="5">{{caption}}</textarea>
                </div>
                <div class="submit-area">
                    <input ng-click="uploadImage()" name="" value="Gửi" type="button" class="btn btn-submit" />
                </div>
            </div>
        </div>
    </div>
    <div class="row top-50"> </div>
</div>
